main {
  height: 100%;
}

h1, h2 {
  text-transform: uppercase;
}

.breadcrumbs {
  margin-bottom: 50px;
}

.about-head__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  margin-bottom: 100px;
}

.about-head__inner {
  width: 50%;
}

.about-head__title {
  margin-bottom: 40px;
  position: relative;
}

.about-head__title::after {
  position: absolute;
  content: "";
  height: 80%;
  width: 1px;
  background-color: #BF9D77;
  left: -50px;
  top: 0;
}

.about-head__descpiption p {
  margin-bottom: 30px;
}

.about-slider {
  overflow: hidden;
  position: relative;
}

.about-slider__item .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-slider__item .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.about-slider__item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.about-slider__item .slick-dots {
  position: absolute;
  left: 30px;
  bottom: 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.about-slider__item .slick-dots button {
  border: none;
  font-size: 0;
  width: 30px;
  height: 1px;
  background-color: #fff;
}

.about-slider__item .slick-dots .slick-active button {
  background-color: #BF9D77;
}

.about-slider__nav {
  position: absolute;
  bottom: 0;
  right: 0;
}

.about-slider__nav .slick-arrow {
  font-size: 0;
  border: none;
  height: 85px;
  cursor: pointer;
}

.about-slider__nav .slick-prev {
  width: 85px;
  background-color: #fff;
  position: relative;
  left: 0;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.about-slider__nav .slick-prev::after {
  position: absolute;
  content: url(../img/header_slider_arrow-right.svg);
  top: 40%;
  left: 40%;
  height: 10px;
  width: 10px;
  -webkit-transition: left 0.5s ease 0s;
  transition: left 0.5s ease 0s;
}

.about-slider__nav .slick-prev:hover {
  background-color: rgba(249, 249, 249, 0.6);
}

.about-slider__nav .slick-prev:hover::after {
  left: 30%;
}

.about-slider__nav .slick-next {
  width: 125px;
  background-color: #BF9D77;
  position: relative;
  right: 0;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.about-slider__nav .slick-next::after {
  position: absolute;
  content: url(../img/header_slider_arrow-left_hover.svg);
  top: 40%;
  right: 80%;
  height: 10px;
  width: 10px;
  -webkit-transition: right 0.5s ease 0s;
  transition: right 0.5s ease 0s;
}

.about-slider__nav .slick-next:hover {
  background-color: rgba(191, 157, 119, 0.3);
}

.about-slider__nav .slick-next:hover::after {
  right: 60%;
}

.about-product {
  background-color: #F9F9F9;
  padding: 80px 0 100px;
  margin-bottom: 100px;
  position: relative;
}

.about-product::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 12%;
  background-color: #fff;
}

.about-product h2 {
  margin-bottom: 40px;
  position: relative;
}

.about-product h2::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  background-color: #BF9D77;
  top: 0;
  left: -50px;
}

.about-product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 100px;
          column-gap: 100px;
}

.about-product__list.counter_1 {
  counter-reset: css-counter_1 -7;
}

.about-product__list.counter_1 li {
  counter-increment: css-counter_1 1;
}

.about-product__list.counter_1 li::after {
  color: #983031;
  font-weight: 700;
  position: absolute;
  content: counter(css-counter_1);
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
}

.about-product__list.counter_2 {
  counter-reset: css-counter 6;
}

.about-product__list.counter_2 li {
  counter-increment: css-counter 1;
}

.about-product__list.counter_2 li::after {
  position: absolute;
  content: counter(css-counter);
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  color: #983031;
  font-weight: 700;
}

.about-product__list li {
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 150%;
  position: relative;
  padding-left: 30px;
}

.about-product__list li a {
  color: #2B323C;
  line-height: 150%;
}

.about-product__list li a:hover {
  color: #BF9D77;
}

.about-product__sublist {
  margin-left: -30px;
}

.about-product__sublist li {
  font-weight: 400;
}

.about-product__sublist li::after {
  display: none;
}

.about-link_more {
  display: none;
  font-size: 16px;
  color: #BF9D77;
  line-height: 150%;
  position: relative;
}

.about-link_more:hover {
  color: #983031;
}

.about-link_more::before {
  position: absolute;
  content: url(../img/arrow-down.svg);
  width: 12px;
  height: 12px;
  top: -3px;
  right: -16px;
  -webkit-transition: -webkit-transform 0.4s ease 0s;
  transition: -webkit-transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
}

.about-sertificate {
  position: relative;
  margin-bottom: 80px;
  overflow: hidden;
}

.about-sertificate__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-sertificate__header {
  width: 33%;
  margin-right: 50px;
  z-index: 1;
  background-color: #fff;
  position: relative;
}

.about-sertificate__header h2 {
  margin-bottom: 40px;
  position: relative;
}

.about-sertificate__header h2::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  background-color: #BF9D77;
  top: 0;
  left: -50px;
  z-index: 2;
}

.about-sertificate__header::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 15vw;
  left: -15vw;
  background-color: #fff;
}

.about-sertificate__slider {
  width: 60%;
  left: -55px;
}

.about-sertificate__slider .slick-list {
  overflow: visible;
}

.about-sertificate__slider_item {
  margin-right: 50px;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.about-sertificate__slider img {
  height: 310px;
  width: 225px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.about-sertificate__nav {
  position: absolute;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-sertificate__nav .slick-arrow {
  font-size: 0;
  border: none;
  height: 60px;
  width: 60px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

.about-sertificate__nav .slick-arrow:hover {
  background-color: rgba(191, 157, 119, 0.3);
}

.about-sertificate__nav .slick-prev {
  border-right: 1px solid #BF9D77;
  position: relative;
}

.about-sertificate__nav .slick-prev::before {
  position: absolute;
  content: url(../img/header_slider_arrow-right.svg);
  height: 10px;
  width: 10px;
  top: 40%;
  left: 40%;
  -webkit-transition: content 0.4s ease 0s;
  transition: content 0.4s ease 0s;
}

.about-sertificate__nav .slick-prev:hover::before {
  content: url(../img/header_slider_arrow-right-hover.svg);
}

.about-sertificate__nav .slick-next {
  position: relative;
}

.about-sertificate__nav .slick-next::before {
  position: absolute;
  content: url(../img/header_slider_arrow-right_min-hover.svg);
  height: 10px;
  width: 10px;
  top: 40%;
  left: 40%;
  -webkit-transition: content 0.4s ease 0s;
  transition: content 0.4s ease 0s;
}

.about-sertificate__nav .slick-next:hover::before {
  content: url(../img/header_slider_arrow-right_min.svg);
}

.about-order {
  background-color: #F9F9F9;
  padding: 80px 0 100px;
  position: relative;
  margin-bottom: 100px;
}

.about-order__item::after {
  position: absolute;
  height: 100%;
  width: 6vw;
  left: 0;
  top: 0;
  content: "";
  background-color: #fff;
}

.about-order__header {
  margin-bottom: 50px;
  position: relative;
}

.about-order__header::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  background-color: #BF9D77;
  top: 0;
  left: -50px;
  z-index: 2;
}

.about-order p {
  margin-bottom: 20px;
}

.about-order__list {
  padding-left: 30px;
}

.about-order__list li {
  margin-bottom: 20px;
  position: relative;
}

.about-order__list li::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid #983031;
  border-radius: 50%;
  margin-left: -30px;
  top: 0;
  left: 0;
}

.about-reviews {
  margin-bottom: 100px;
}

.about-reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-reviews__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-reviews__nav .slick-arrow {
  font-size: 0;
  border: none;
  height: 60px;
  width: 60px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

.about-reviews__nav .slick-arrow:hover {
  background-color: rgba(191, 157, 119, 0.3);
}

.about-reviews__nav .slick-prev {
  border-right: 1px solid #BF9D77;
  position: relative;
}

.about-reviews__nav .slick-prev::before {
  position: absolute;
  content: url(../img/header_slider_arrow-right.svg);
  height: 10px;
  width: 10px;
  top: 40%;
  left: 40%;
  -webkit-transition: content 0.4s ease 0s;
  transition: content 0.4s ease 0s;
}

.about-reviews__nav .slick-prev:hover::before {
  content: url(../img/header_slider_arrow-right-hover.svg);
}

.about-reviews__nav .slick-next {
  position: relative;
}

.about-reviews__nav .slick-next::before {
  position: absolute;
  content: url(../img/header_slider_arrow-right_min-hover.svg);
  height: 10px;
  width: 10px;
  top: 40%;
  left: 40%;
  -webkit-transition: content 0.4s ease 0s;
  transition: content 0.4s ease 0s;
}

.about-reviews__nav .slick-next:hover::before {
  content: url(../img/header_slider_arrow-right_min.svg);
}

.about-reviews__header {
  margin-bottom: 50px;
  position: relative;
}

.about-reviews__header::after {
  position: absolute;
  content: "";
  height: 80%;
  width: 1px;
  background-color: #BF9D77;
  top: 0;
  left: -50px;
  z-index: 2;
}

.about-reviews__slider-item {
  margin-right: 50px;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.about-reviews__slider-item img {
  height: 300px;
  width: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border: 4px solid rgba(191, 157, 119, 0.3);
}

.about-testimony {
  background-color: #F9F9F9;
  padding: 80px 0 100px;
  position: relative;
}

.about-testimony::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 8%;
  background-color: #fff;
}

.about-testimony__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-testimony__header {
  width: 40%;
}

.about-testimony__header-title {
  position: relative;
}

.about-testimony__header-title::after {
  position: absolute;
  content: "";
  height: 50%;
  width: 1px;
  background-color: #BF9D77;
  top: 0;
  left: -50px;
  z-index: 2;
}

.about-testimony__header-title h3 {
  margin-bottom: 50px;
}

.about-testimony__photo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.about-testimony__photo-block {
  width: 100%;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.about-testimony__photo-block img {
  height: 220px;
  width: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 1500px) {
  .about-product::before {
    width: 7%;
  }
  .about-order__item::after {
    width: 4%;
  }
  .about-testimony::before {
    width: 5%;
  }
}

@media (max-width: 1355px) {
  .about-product::before {
    width: 5%;
  }
  .about-order__item::after {
    width: 2%;
  }
  .about-order__header::after {
    left: -30px;
    height: 80%;
  }
  .about-testimony::before {
    width: 5%;
  }
  .about-testimony__photo {
    width: 50%;
  }
}

@media (max-width: 1300px) {
  .about-head__item {
    margin-bottom: 50px;
  }
  .about-product {
    padding: 50px 0 80px;
    margin-bottom: 50px;
  }
  .about-product::before {
    display: none;
  }
  .about-order__item::after {
    display: none;
  }
  .about-testimony::before {
    display: none;
  }
  .about-sertificate {
    margin-bottom: 50px;
  }
  .about-order {
    padding: 50px 0 80px;
    margin-bottom: 50px;
  }
  .about-reviews {
    margin-bottom: 50px;
  }
  .about-testimony {
    padding: 50px 0 80px;
  }
}

@media (max-width: 1170px) {
  .about-sertificate__item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about-sertificate__slider {
    left: -70px;
  }
  .about-sertificate__slider img {
    height: 275px;
    width: 200px;
  }
  .about-reviews__slider-item img {
    height: 275px;
    width: 180px;
  }
  .about-testimony__photo-block img {
    height: 200px;
    width: 145px;
  }
}

@media (max-width: 1000px) {
  .about-sertificate__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-sertificate__header {
    width: 100%;
  }
  .about-sertificate__header h2 {
    max-width: 350px;
  }
  .about-sertificate__nav {
    right: 0;
    top: 0;
  }
  .about-sertificate__slider {
    width: 100%;
    left: 0;
  }
  .about-testimony__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-testimony__header {
    width: 100%;
    margin-bottom: 30px;
  }
  .about-testimony__header-tltle {
    max-width: 450px;
  }
  .about-testimony__photo {
    width: 100%;
  }
  .about-testimony__photo-block img {
    height: auto;
    width: 260px;
  }
}

@media (max-width: 900px) {
  .breadcrumbs {
    margin-bottom: 30px;
  }
  .about-head__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    margin-bottom: 30px;
  }
  .about-head__inner {
    width: 100%;
  }
  .about-link_more {
    display: inline-block;
    cursor: pointer;
    max-width: 95px;
  }
  .about-link_more.active::before {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    top: 15px;
  }
  .about-product {
    margin-bottom: 30px;
  }
  .about-product__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-product__inner.more {
    display: none;
  }
  .about-sertificate {
    margin-bottom: 30px;
  }
  .about-order {
    padding: 30px 0 50px;
    margin-bottom: 30px;
  }
  .about-order__text {
    display: none;
  }
  .about-reviews {
    margin-bottom: 30px;
  }
  .about-testimony {
    padding: 30px 0 50px;
  }
  .about-testimony__photo-block img {
    height: auto;
    width: 230px;
  }
  .about-slider__item img {
    width: 60%;
  }
}

@media (max-width: 768px) {
  h1, h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 16px;
  }
  .about-testimony__photo-block img {
    width: 195px;
  }
}

@media (max-width: 680px) {
  .about-slider__nav .slick-arrow {
    height: 60px;
  }
  .about-slider__nav .slick-prev, .about-slider__nav .slick-next {
    width: 60px;
  }
  .about-slider__nav .slick-next::after {
    content: url(../img/header_slider_arrow-right_min.svg);
    right: 50%;
  }
  .about-slider__nav .slick-next:hover::after {
    content: url(../img/header_slider_arrow-right_min-hover.svg);
    right: 40%;
  }
  .about-sertificate__slider {
    left: -20px;
  }
  .about-reviews__slider-item img {
    height: auto;
    width: 130px;
  }
  .about-reviews__slider-item p {
    font-size: 12px;
  }
  .about-testimony__photo {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .about-testimony__photo-block img {
    width: 210px;
  }
}

@media (max-width: 480px) {
  h1, h2 {
    text-transform: none;
  }
  .breadcrumbs {
    margin-bottom: 20px;
  }
  .about-head__title {
    margin-bottom: 20px;
  }
  .about-head__descpiption p {
    margin-bottom: 20px;
  }
  .about-slider__nav {
    top: 0;
  }
  .about-product {
    padding: 20px 0 30px;
  }
  .about-product h2 {
    margin-bottom: 20px;
  }
  .about-sertificate__header h2 {
    margin-bottom: 20px;
  }
  .about-sertificate__slider {
    left: -25px;
  }
  .about-sertificate__slider img {
    height: auto;
    width: 40vw;
  }
  .about-order {
    padding: 20px 0 30px;
  }
  .about-order__header {
    margin-bottom: 20px;
  }
  .about-order__list li {
    line-height: 150%;
  }
  .about-order p {
    margin-bottom: 10px;
  }
  .about-reviews__header {
    margin-bottom: 20px;
  }
  .about-testimony {
    padding: 20px 0 30px;
  }
  .about-testimony__header {
    margin-bottom: 20px;
  }
  .about-testimony__header-title h3 {
    margin-bottom: 20px;
  }
  .about-testimony__photo-block img {
    width: 42vw;
  }
}

@media (max-width: 415px) {
  .about-slider__nav .slick-arrow {
    width: 40px;
  }
  .about-slider__nav .slick-prev {
    height: 40px;
  }
  .about-slider__nav .slick-prev::after {
    top: 30%;
    left: 30%;
  }
  .about-slider__nav .slick-prev:hover::after {
    left: 10%;
  }
  .about-slider__nav .slick-next {
    height: 40px;
  }
  .about-slider__nav .slick-next::after {
    top: 30%;
    right: 40%;
  }
  .about-slider__nav .slick-next:hover::after {
    right: 20%;
  }
  .about-slider__item .slick-dots {
    left: 30px;
  }
  .about-slider__item .slick-dots button {
    width: 25px;
  }
  .about-sertificate__header {
    margin-right: 0;
  }
  .about-sertificate__slider {
    margin-bottom: 60px;
  }
  .about-sertificate__nav {
    top: inherit;
    bottom: -70vw;
  }
  .about-sertificate__nav .slick-arrow {
    height: 40px;
    width: 40px;
  }
  .about-sertificate__nav .slick-prev::before {
    top: 30%;
    left: 30%;
  }
  .about-sertificate__nav .slick-prev:hover::before {
    left: 10%;
  }
  .about-sertificate__nav .slick-next::before {
    top: 30%;
    left: 30%;
  }
  .about-sertificate__nav .slick-next:hover::before {
    left: 50%;
  }
}
/*# sourceMappingURL=about.css.map */