main {
  height: 100%;
  line-height: 150%;
}

h1 {
  text-transform: uppercase;
}

.breadcrumbs {
  margin-bottom: 30px;
}

.contacts {
  margin-bottom: 50px;
}

.contacts__header {
  margin-bottom: 50px;
  position: relative;
}

.contacts__header::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  background-color: #BF9D77;
  top: 0;
  left: -50px;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.contacts__inner {
  width: 100%;
}

.contacts__block {
  background-color: #F9F9F9;
  padding: 30px;
  margin-bottom: 30px;
}

.contacts__block-header {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.contacts__block-departament {
  padding: 20px 30px;
  border-top: 1px solid rgba(191, 157, 119, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__block-unit {
  margin-bottom: 20px;
}

.contacts__block-position {
  font-weight: 700;
  position: relative;
}

.contacts__block-position::after {
  position: absolute;
  content: url(../img/user-icon.svg);
  top: 2px;
  left: -30px;
  height: 10px;
  width: 10px;
}

.contacts__block-phone {
  color: #2B323C;
  position: relative;
  margin-bottom: 10px;
}

.contacts__block-phone::after {
  position: absolute;
  content: "";
  background-image: url(../img/phone.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  top: 2px;
  left: -30px;
  height: 20px;
  width: 20px;
}

.contacts__block-phone:hover {
  color: #BF9D77;
}

.contacts__block-mail {
  color: #2B323C;
  position: relative;
}

.contacts__block-mail::after {
  position: absolute;
  content: "";
  background-image: url(../img/mail.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 18px;
  height: 18px;
  top: 4px;
  left: -30px;
}

.contacts__block-mail:hover {
  color: #BF9D77;
}

.map {
  margin-bottom: 50px;
}

.map .container {
  position: relative;
  margin-bottom: 50px;
}

.map__contact {
  position: absolute;
  background-color: #fff;
  top: 30px;
  left: 30px;
  z-index: 2;
  width: calc(40% - 50px);
  padding: 30px 30px 15px;
}

.map__contact-block {
  padding: 20px 0;
  border-bottom: 1px solid rgba(191, 157, 119, 0.3);
}

.map__contact-title {
  font-weight: 700;
}

.map__contact-text span {
  font-weight: 700;
}

.map__contact-mail {
  color: #2B323C;
}

.map__contact-mail span {
  font-weight: 700;
}

.map__contact-link {
  padding: 30px 0;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map__contact-link_text {
  background-color: #7294C7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.map__contact-link_text a {
  color: #fff;
}

.map__contact-link_img {
  background-color: #809ECC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
}

@media (max-width: 900px) {
  .map__contact {
    top: -30px;
  }
}

@media (max-width: 768px) {
  .contacts__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .map__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .map__item iframe {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .map__contact {
    position: relative;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    left: 0;
    width: 100%;
  }
}

@media (max-width: 680px) {
  h1 {
    font-size: 28px;
  }
  .contacts__header {
    margin-bottom: 30px;
  }
  .contacts__header::after {
    left: -10px;
  }
  .contacts__block {
    margin-bottom: 12px;
  }
}

@media (max-width: 415px) {
  h1 {
    text-transform: none;
  }
  .contacts__block {
    padding: 20px;
  }
  .contacts__block-departament {
    padding: 20px 20px;
  }
  .contacts__block-unit {
    margin-bottom: 10px;
  }
  .map__contact-link_text {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/*# sourceMappingURL=contacts.css.map */