main {
  height: 100%;
}

h1 {
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}

h4 {
  line-height: 150%;
  font-size: 24px;
  font-weight: 900;
}

.breadcrumbs {
  margin-bottom: 50px;
}

.laboratory {
  margin-bottom: 100px;
}

.laboratory-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  margin-bottom: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.laboratory-about {
  width: 56%;
}

.laboratory-about__title {
  margin-bottom: 30px;
  position: relative;
}

.laboratory-about__title::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 80%;
  background-color: #BF9D77;
  top: 0;
  left: -50px;
}

.laboratory-about__description {
  max-width: 550px;
}

.laboratory-services {
  padding: 50px 40px;
  border: 4px solid #BF9D77;
  position: relative;
  width: 30%;
}

.laboratory-services::after {
  position: absolute;
  content: url(../img/arrow-strong.svg);
  top: 40%;
  left: -4px;
}

.laboratory-services.delivery::after {
  top: 60%;
}

.laboratory-services__head {
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(191, 157, 119, 0.3);
  padding-bottom: 10px;
}

.laboratory-services__title {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 20px;
}

.laboratory-services__link-lab {
  color: #983031;
  margin-bottom: 10px;
}

.laboratory-services__link-lab:hover {
  color: #BF9D77;
}

.laboratory-services__link-delivery {
  color: #BF9D77;
}

.laboratory-services__link-delivery:hover {
  color: #983031;
}

.laboratory-contact {
  padding: 30px;
  border: 4px solid rgba(191, 157, 119, 0.3);
}

.laboratory-contact__post {
  position: relative;
  margin-bottom: 40px;
}

.laboratory-contact__post::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: rgba(191, 157, 119, 0.3);
  bottom: -20px;
  left: 0;
}

.laboratory-contact__post p {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}

.laboratory-contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 100px;
          column-gap: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.laboratory-contact__user {
  position: relative;
  margin-left: 30px;
  line-height: 150%;
}

.laboratory-contact__user::after {
  position: absolute;
  content: url(../img/user-icon.svg);
  top: 2px;
  left: -30px;
}

.laboratory-contact__phone {
  position: relative;
  margin-left: 30px;
  color: #2B323C;
}

.laboratory-contact__phone::after {
  position: absolute;
  content: "";
  height: 25px;
  width: 18px;
  background-image: url(../img/phone.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  left: -30px;
  top: -2px;
}

.laboratory-contact__phone span {
  font-weight: 700;
}

.laboratory-contact__mail {
  position: relative;
  margin-left: 30px;
  color: #2B323C;
}

.laboratory-contact__mail::after {
  position: absolute;
  content: "";
  height: 25px;
  width: 18px;
  background-image: url(../img/mail.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  left: -30px;
  top: -2px;
}

.laboratory-contact__mail span {
  font-weight: 700;
}

.laboratory-offer {
  background-color: #F9F9F9;
  padding: 100px 0;
}

.laboratory-device__header {
  margin-bottom: 40px;
}

.laboratory-device__header h1 {
  margin-bottom: 50px;
  position: relative;
}

.laboratory-device__header h1::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 80%;
  background-color: #BF9D77;
  top: 10px;
  left: -40px;
}

.laboratory-device__item {
  padding: 30px;
  background-color: #fff;
}

.laboratory-device__item.last {
  margin-top: -85px;
}

.laboratory-device__item.last .laboratory-table__inner {
  position: relative;
}

.laboratory-device__item.last .laboratory-table__inner::before {
  position: absolute;
  width: 100%;
  height: 1px;
  content: "";
  background-color: rgba(191, 157, 119, 0.3);
  bottom: -20px;
}

.laboratory-device__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  margin-bottom: 40px;
}

.laboratory-device__block .laboratory-device__item {
  width: 50%;
}

.laboratory-table__header {
  position: relative;
  margin-bottom: 40px;
}

.laboratory-table__header::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: rgba(191, 157, 119, 0.3);
  bottom: -20px;
}

.laboratory-table__header h4 {
  max-width: 420px;
}

.laboratory-table__header h4 span {
  height: 16px;
  color: #fff;
}

.laboratory-table__device {
  margin-bottom: 10px;
  margin-left: 30px;
  position: relative;
  width: 300px;
}

.laboratory-table__device::after {
  position: absolute;
  content: "";
  border: 1px solid #983031;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 5px;
  left: -30px;
}

.laboratory-table__device_title {
  font-weight: 700;
  margin-bottom: 10px;
}

.laboratory-table__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.laboratory-table__warning {
  margin-top: 40px;
}

.laboratory-table__warning p {
  color: #983031;
  margin-left: 30px;
  position: relative;
}

.laboratory-table__warning p::before {
  position: absolute;
  content: url(../img/warning.svg);
  top: 2px;
  left: -30px;
}

.laboratory-slider {
  margin-bottom: 100px;
  overflow: hidden;
  padding: 50px;
}

.laboratory-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.laboratory-slider__item {
  overflow: hidden;
  margin-bottom: 50px;
}

.laboratory-slider__nav {
  position: relative;
}

.laboratory-slider__nav .slick-arrow {
  position: relative;
  font-size: 0;
  border: none;
  background-color: #BF9D77;
  height: 40px;
  width: 40px;
}

.laboratory-slider__nav .slick-arrow:hover {
  background-color: rgba(43, 50, 60, 0.2);
}

.laboratory-slider__nav .slick-prev {
  position: absolute;
  top: -16px;
  left: 30px;
  cursor: pointer;
}

.laboratory-slider__nav .slick-prev::after {
  content: url(../manufacture/product/img/arrow-left_white.svg);
  position: absolute;
  top: 12px;
  left: 12px;
}

.laboratory-slider__nav .slick-prev:hover::after {
  content: url(../manufacture/product/img/arrow-left_black.svg);
}

.laboratory-slider__nav .slick-next {
  position: absolute;
  top: -16px;
  right: 30px;
  cursor: pointer;
}

.laboratory-slider__nav .slick-next::after {
  content: url(../manufacture/product/img/arrow-right_white.svg);
  position: absolute;
  top: 12px;
  right: 12px;
}

.laboratory-slider__nav .slick-next:hover::after {
  content: url(../manufacture/product/img/arrow-rifht_black.svg);
}

.laboratory-offer {
  position: relative;
}

.laboratory-offer::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 8%;
  right: 0;
  top: 0;
  background-color: #fff;
}

.laboratory-sertificat {
  padding: 100px 0;
  position: relative;
  background-color: #F9F9F9;
}

.laboratory-sertificat::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 7%;
  left: 0;
  top: 0;
  background-color: #fff;
}

.laboratory-sertificat__title {
  margin-bottom: 30px;
  position: relative;
}

.laboratory-sertificat__title::after {
  position: absolute;
  content: "";
  height: 80%;
  width: 1px;
  background-color: #BF9D77;
  left: -40px;
  top: 0;
  z-index: 1;
}

.laboratory-sertificat__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 30px;
  border-top: 1px solid #BF9D77;
}

.laboratory-sertificat__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.laboratory-sertificat__before {
  opacity: 0.4;
}

.laboratory-sertificat__link {
  font-size: 16px;
  line-height: 150%;
  color: #BF9D77;
}

.laboratory-sertificat__link:hover {
  color: #983031;
}

.progress {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(43, 50, 60, 0.2);
  background-image: -webkit-gradient(linear, left top, right top, from(#BF9D77), to(#BF9D77));
  background-image: linear-gradient(to right, #BF9D77, #BF9D77);
  background-repeat: no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size .4s ease-in-out;
  transition: background-size .4s ease-in-out;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width: 1500px) {
  .laboratory-offer::before {
    width: 4%;
  }
  .laboratory-sertificat::after {
    width: 4%;
  }
}

@media (max-width: 1355px) {
  .laboratory-offer::before {
    width: 2%;
  }
  .laboratory-sertificat::after {
    width: 2%;
  }
}

@media (max-width: 1300px) {
  .laboratory-offer::before {
    display: none;
  }
  .laboratory-device__header h1::after {
    display: none;
  }
  .laboratory-sertificat__title::after {
    display: none;
  }
  .laboratory-sertificat::after {
    display: none;
  }
}

@media (max-width: 1170px) {
  .laboratory-table__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .laboratory-sertificat__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 900px) {
  .laboratory {
    margin-bottom: 50px;
  }
  .laboratory-header {
    margin-bottom: 50px;
  }
  .laboratory-contact__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .laboratory-contact__user {
    margin-bottom: 10px;
  }
  .laboratory-contact__phone, .laboratory-contact__mail {
    margin-bottom: 10px;
    line-height: 150%;
  }
  .laboratory-device__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 30px;
  }
  .laboratory-device__block .laboratory-device__item {
    width: 100%;
  }
  .laboratory-offer {
    padding: 50px 0;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
  .laboratory-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
  .laboratory-about {
    width: 100%;
  }
  .laboratory-about__title {
    margin-bottom: 20px;
  }
  .laboratory-about__description {
    margin-bottom: 20px;
  }
  .laboratory-services {
    width: auto;
    padding: 40px 50px;
  }
  .laboratory-services::after {
    top: 50%;
  }
  .laboratory-device__item.last .laboratory-table__inner .laboratory-table__block:last-child {
    margin-top: 30px;
  }
  .laboratory-device__item.last .laboratory-table__inner::before {
    bottom: -40px;
  }
  .laboratory-table__warning {
    margin-top: 60px;
  }
  .laboratory-slider {
    margin-bottom: 50px;
    padding: 50px 0;
  }
  .laboratory-slider__nav .slick-prev {
    left: 0;
  }
  .laboratory-slider__nav .slick-next {
    right: 0;
  }
  .laboratory-sertificat {
    padding: 50px 0;
  }
}

@media (max-width: 480px) {
  h4 {
    font-size: 16px;
  }
  .laboratory-services__title {
    font-size: 20px;
  }
  .laboratory-sertificat__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0 20px;
  }
  .laboratory-sertificat__inner {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  h1 {
    text-transform: none;
  }
  .breadcrumbs {
    margin-bottom: 30px;
  }
  .laboratory-services {
    padding: 30px;
  }
  .laboratory-services__link-lab, .laboratory-services__link-delivery {
    line-height: 150%;
  }
  .laboratory-contact__phone, .laboratory-contact__mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .laboratory-device__header {
    margin-bottom: 30px;
  }
  .laboratory-device__header h1 {
    margin-bottom: 20px;
  }
  .laboratory-table__device {
    width: 85%;
  }
  .laboratory-device__block {
    row-gap: 12px;
    margin-bottom: 12px;
  }
  .laboratory-device__item {
    margin-bottom: 12px;
  }
  .laboratory-device__item.last {
    margin-top: -100px;
  }
  .laboratory-table__header h4 span {
    font-size: 4px;
  }
  .laboratory-slider__nav .slick-prev::after {
    top: 8px;
    left: 8px;
  }
  .laboratory-slider__nav .slick-next::after {
    top: 8px;
    left: 8px;
  }
  .laboratory-slider__nav .slick-arrow {
    height: 30px;
    width: 30px;
  }
  .progress {
    width: 60%;
  }
}
/*# sourceMappingURL=laboratory.css.map */