body {
  font-family: 'Roboto', sans-serif;
  color: #2B323C;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2B323C;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-weight: 900;
  font-size: 36px;
  line-height: 130%;
  color: #2B323C;
}

h2 {
  font-weight: 900;
  font-size: 36px;
  line-height: 130%;
}

h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 150%;
  color: #BF9D77;
}

header {
  background-color: #2B323C;
}

main {
  height: 25vh;
}

.container {
  margin: 0 auto;
  max-width: 1190px;
  padding: 0 10px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  margin-right: 20px;
}

.logo__title {
  color: #983031;
  font-weight: 900;
  font-size: 29px;
  line-height: 130%;
  text-transform: uppercase;
}

.header {
  padding-top: 20px;
}

.header__rate-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  margin-bottom: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__rate-data {
  color: #BF9D77;
}

.header__rate-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -webkit-column-gap: 3px;
          column-gap: 3px;
}

.header__rate-uom {
  color: #BF9D77;
}

.header__menu-top_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.header__menu-descrition {
  width: 100%;
  background-color: #fff;
  padding: 24px 0;
}

.header__menu-descrition_block {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu-nav {
  height: 68px;
}

.header__menu-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu-desc p {
  color: #fff;
}

.header__menu-desc_prod {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  margin-right: 20px;
  position: relative;
}

.header__menu-desc_prod::before {
  position: absolute;
  content: '';
  background-color: #BF9D77;
  height: 100%;
  width: 1px;
  right: -20px;
}

.header__menu-desc_adress {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-transform: uppercase;
  margin-left: 20px;
  color: #fff;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__menu-desc_adress:hover {
  color: #BF9D77;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  height: 24px;
}

.header__link a {
  background-color: #BF9D77;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.header__link a:hover {
  background-color: #2B323C;
  border: 1px solid #BF9D77;
}

.header__link-vk, .header__link-rusprf {
  padding: 4px 6px;
}

.header__link-vk img, .header__link-rusprf img {
  width: 1vw;
}

.header__link-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 128px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__link-photo img {
  width: 1vw;
  margin-right: 4px;
}

.header__link-photo p {
  font-size: 12px;
  color: #fff;
}

.header__link-language {
  background-color: #BF9D77;
  padding: 4px 23px 10px 9px;
  position: relative;
  list-style: none;
}

.header__link-language::before {
  position: absolute;
  content: url("../img/language-icon.svg");
  right: 6px;
  cursor: pointer;
}

.header__link-language li {
  margin-bottom: 5px;
}

.header__link-language a {
  color: #fff;
  font-size: 12px;
  position: relative;
}

.header__link-language_var {
  list-style: none;
  padding: 4px 23px 10px 9px;
  background-color: #BF9D77;
  position: absolute;
  top: 24px;
  right: 0px;
  display: none;
}

.header__link-language_var.active {
  display: block;
}

.header__contact {
  padding: 16px 32px;
  background-color: #FBF7F1;
}

.header__contact a, .header__contact p {
  font-size: 12px;
  line-height: 150%;
  color: #2B323C;
  position: relative;
}

.header__contact a::after {
  position: absolute;
  content: url(../img/mail.svg);
  left: -17px;
  bottom: -4px;
}

.header__contact p::after {
  position: absolute;
  content: url(../img/time.svg);
  left: -17px;
  bottom: -2px;
}

.header__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 13px;
}

.header__about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__about-link {
  color: #983031;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  position: relative;
  -webkit-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}

.header__about-link::before {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #BF9D77;
  left: 50%;
  width: 0%;
  bottom: 0;
  -webkit-transition: width 0.4s ease 0s, left 0.4s ease 0s;
  transition: width 0.4s ease 0s, left 0.4s ease 0s;
}

.header__about-link:hover {
  color: #BF9D77;
}

.header__about-link:hover::before {
  width: 100%;
  left: 0;
}

.header__about-phone {
  font-weight: 900;
  font-size: 30px;
  line-height: 130%;
  text-transform: uppercase;
  color: #2B323C;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 0;
}

.menu__link {
  color: #fff;
  position: relative;
  text-align: center;
}

.menu__link::before {
  position: absolute;
  content: "";
  height: 4px;
  background-color: #BF9D77;
  left: 50%;
  width: 0%;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  bottom: -10px;
}

.menu__link:hover::before {
  width: 100%;
  left: 0%;
}

.menu__link:last-child p::after {
  display: none;
}

.menu__p {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__p:hover {
  color: #BF9D77;
}

.menu__p::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #BF9D77;
  opacity: 0.2;
  border-radius: 50%;
  top: 11px;
  right: -5vw;
}

.menu__txt {
  color: #fff;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  opacity: 0.5;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__txt:hover {
  color: #BF9D77;
}

.breadcrumbs {
  background-color: #fff;
  margin-top: 25px;
}

.breadcrumbs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.breadcrumbs__item::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  background-image: url(../img/home.svg);
  left: 0;
  top: 0;
}

.breadcrumbs__link {
  position: relative;
}

.breadcrumbs__link:nth-last-child(1)::before {
  display: none;
}

.breadcrumbs__link::before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1px;
  background-color: #2B323C;
  opacity: 0.2;
  -webkit-transform: rotate(-25.77deg);
          transform: rotate(-25.77deg);
  right: -20px;
}

.breadcrumbs__link.breadcrumbs__index {
  margin-left: 36px;
  color: #2B323C;
}

.footer {
  position: relative;
  background-color: #2B323C;
}

.footer__inner {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.footer__menu {
  position: absolute;
  background-color: #fff;
  top: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 10px;
  z-index: 3;
}

.footer__menu::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 250px;
  left: -250px;
  top: 0;
  background-color: #fff;
}

.footer__menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  position: relative;
}

.footer__menu-up {
  padding: 14px 27px;
  background-color: #BF9D77;
  margin-right: -2px;
}

.footer__menu-up:hover {
  background-color: #983031;
}

.footer__menu-link {
  position: relative;
}

.footer__menu-link::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 0;
  left: 50%;
  background-color: #983031;
  bottom: 0;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.footer__menu-link:hover .footer__menu-p {
  color: #983031;
}

.footer__menu-link:hover .footer__menu-txt {
  color: #983031;
}

.footer__menu-link:hover::before {
  width: 100%;
  left: 0;
}

.footer__menu-link:nth-last-child(2) p::before {
  display: none;
}

.footer__menu-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  position: relative;
}

.footer__menu-p::before {
  position: absolute;
  content: "";
  height: 6px;
  width: 6px;
  background-color: #2B323C;
  border-radius: 50%;
  opacity: 0.2;
  right: -3vw;
  top: 8px;
}

.footer__menu-txt {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
}

.footer__logo {
  background-color: #F9F9F9;
  padding: 100px 50px 95px 10px;
  position: relative;
  z-index: 2;
}

.footer__logo::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background-color: #F9F9F9;
  top: 0;
  left: -330px;
  z-index: 1;
}

.footer__logo-box {
  margin-bottom: 65px;
}

.footer__logo-desc p {
  width: 275px;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
}

.footer__logo .footer__info-sanction {
  color: #2B323C;
  display: none;
}

.footer__info {
  background-color: #2B323C;
  padding: 120px 0px 95px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 9vw;
          column-gap: 9vw;
}

.footer__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info-contact {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  margin-bottom: 68px;
}

.footer__info-tel {
  color: #fff;
  font-weight: 900;
  font-size: 35px;
  line-height: 130%;
}

.footer__info-tel:hover {
  color: #983031;
}

.footer__info-mail {
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  position: relative;
  margin-left: 20px;
}

.footer__info-mail::after {
  position: absolute;
  content: url(../img/mail.svg);
  left: -17px;
  bottom: -1px;
}

.footer__info-mail:hover {
  color: #983031;
}

.footer__info-schedule {
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  position: relative;
  margin-left: 20px;
}

.footer__info-schedule::after {
  position: absolute;
  content: url(../img/time.svg);
  left: -17px;
  bottom: -1px;
}

.footer__info-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.footer__info-social a {
  height: 25px;
  width: 25px;
  background-color: #fff;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__info-social a:hover {
  background-color: #983031;
}

.footer__info-title, .footer__info-subtitle, .footer__info-sanction, .footer__info-copyright {
  width: 275px;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: #BF9D77;
}

.footer__info-title {
  margin-top: 10px;
}

.footer__info-sanction {
  color: #fff;
}

.footer__info-copyright {
  color: #fff;
  opacity: 0.3;
}

@media (max-width: 1210px) {
  .footer__menu {
    width: 99%;
  }
}

@media (max-width: 1170px) {
  .header__rate-box:nth-last-child(1) {
    display: none;
  }
  .header__menu-descrition_block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .menu {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__menu {
    width: 98%;
  }
  .footer__info {
    -webkit-column-gap: 6vw;
            column-gap: 6vw;
    padding: 120px 0px 95px 10px;
  }
}

@media (max-width: 1080px) {
  .header__rate-box:nth-last-child(2) {
    display: none;
  }
  .footer__logo {
    padding: 100px 48px 95px 10px;
  }
  .footer__info {
    -webkit-column-gap: 1vw;
            column-gap: 1vw;
  }
}

@media (max-width: 1000px) {
  .header__rate-box:nth-last-child(3) {
    display: none;
  }
  .footer__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__info {
    padding: 100px 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 75px;
  }
  .footer__info-title {
    margin-top: 47px;
    margin-bottom: 20px;
  }
  .footer__info-item .footer__info-sanction {
    display: none;
  }
  .footer__info-subtitle {
    margin-bottom: 20px;
  }
  .footer__logo {
    padding: 80px 0 0 0;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__logo::after {
    display: none;
  }
  .footer__logo-box {
    margin-bottom: 30px;
  }
  .footer__logo-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    row-gap: 125px;
  }
  .footer__logo-desc .footer__info-sanction {
    display: block;
  }
}

@media (max-width: 900px) {
  .header__rate-box:nth-last-child(4) {
    display: none;
  }
  .footer__menu-p::before {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */