body {
  font-family: 'Roboto', sans-serif;
  color: #2B323C;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2B323C;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

h1 {
  font-weight: 900;
  font-size: 36px;
  line-height: 130%;
  color: #2B323C;
}

h2 {
  font-weight: 900;
  font-size: 36px;
  line-height: 130%;
}

h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 150%;
  color: #BF9D77;
}

header {
  background-color: #2B323C;
}

main {
  height: 25vh;
}

.container {
  margin: 0 auto;
  max-width: 1190px;
  padding: 0 10px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  margin-right: 20px;
}

.logo__title {
  color: #983031;
  font-weight: 900;
  font-size: 29px;
  line-height: 130%;
  text-transform: uppercase;
}

.header {
  padding-top: 20px;
}

.header__rate-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  margin-bottom: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__rate-data {
  color: #BF9D77;
}

.header__rate-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -webkit-column-gap: 3px;
          column-gap: 3px;
}

.header__rate-uom {
  color: #BF9D77;
}

.header__menu-top_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.header__menu-descrition {
  width: 100%;
  background-color: #fff;
  padding: 24px 0;
}

.header__menu-descrition_block {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu-nav {
  height: 68px;
}

.header__menu-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu-desc p {
  color: #fff;
}

.header__menu-desc_prod {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  margin-right: 20px;
  position: relative;
}

.header__menu-desc_prod::before {
  position: absolute;
  content: '';
  background-color: #BF9D77;
  height: 100%;
  width: 1px;
  right: -20px;
}

.header__menu-desc_adress {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-transform: uppercase;
  margin-left: 20px;
  color: #fff;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__menu-desc_adress:hover {
  color: #BF9D77;
}

.header__menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  height: 24px;
}

.header__menu-link a {
  background-color: #BF9D77;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.header__menu-link a:hover {
  background-color: rgba(191, 157, 119, 0.2);
}

.header__menu-link_vk, .header__menu-link_rusprf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 24px;
  width: 24px;
}

.header__menu-link_vk img, .header__menu-link_rusprf img {
  width: 13px;
}

.header__menu-link_photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 128px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menu-link_photo img {
  width: 1vw;
  margin-right: 4px;
}

.header__menu-link_photo p {
  font-size: 12px;
  color: #fff;
}

.header__menu-link_language {
  background-color: #BF9D77;
  padding: 4px 23px 10px 9px;
  position: relative;
  list-style: none;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.header__menu-link_language:hover {
  background-color: rgba(191, 157, 119, 0.2);
}

.header__menu-link_language::before {
  position: absolute;
  content: url("../img/language-icon.svg");
  right: 6px;
  cursor: pointer;
}

.header__menu-link_language li {
  margin-bottom: 5px;
}

.header__menu-link_language a {
  color: #fff;
  font-size: 12px;
  position: relative;
}

.header__menu-link_language a:hover {
  background-color: rgba(191, 157, 119, 0.2);
}

.header__menu-link_language-var {
  list-style: none;
  padding: 4px 23px 10px 9px;
  background-color: #BF9D77;
  position: absolute;
  top: 24px;
  right: 0px;
  display: none;
}

.header__menu-link_language-var.active {
  display: block;
}

.header__contact {
  padding: 16px 32px;
  background-color: #FBF7F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__contact a, .header__contact p {
  font-size: 12px;
  line-height: 150%;
  color: #2B323C;
  position: relative;
}

.header__contact a:hover {
  color: #BF9D77;
}

.header__contact-phone {
  display: none;
}

.header__contact-phone ::after {
  position: absolute;
  content: url(../img/phone.svg);
  left: -17px;
  bottom: -2px;
}

.header__contact-mail::after {
  position: absolute;
  content: url(../img/mail.svg);
  left: -17px;
  bottom: -2px;
}

.header__contact p::after {
  position: absolute;
  content: url(../img/time.svg);
  left: -17px;
  bottom: -2px;
}

.header__mobile-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__phone-btn {
  height: 40px;
  width: 40px;
  background-color: #BF9D77;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  margin-right: 10px;
}

.header__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 13px;
}

.header__about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__about-link {
  color: #983031;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  position: relative;
  -webkit-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}

.header__about-link::before {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #BF9D77;
  left: 50%;
  width: 0%;
  bottom: 0;
  -webkit-transition: width 0.4s ease 0s, left 0.4s ease 0s;
  transition: width 0.4s ease 0s, left 0.4s ease 0s;
}

.header__about-link:hover {
  color: #BF9D77;
}

.header__about-link:hover::before {
  width: 100%;
  left: 0;
}

.header__about-phone {
  font-weight: 900;
  font-size: 30px;
  line-height: 130%;
  text-transform: uppercase;
  color: #2B323C;
}

.header__burger {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #983031;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 0;
}

.menu__link {
  color: #fff;
  position: relative;
  text-align: center;
}

.menu__link::before {
  position: absolute;
  content: "";
  height: 4px;
  background-color: #BF9D77;
  left: 50%;
  width: 0%;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  bottom: -10px;
}

.menu__link:hover::before {
  width: 100%;
  left: 0%;
}

.menu__link:last-child p::after {
  display: none;
}

.menu__p {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__p:hover {
  color: #BF9D77;
}

.menu__p::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #BF9D77;
  opacity: 0.2;
  border-radius: 50%;
  top: 11px;
  right: -5vw;
}

.menu__txt {
  color: #fff;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  opacity: 0.5;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__txt:hover {
  color: #BF9D77;
}

.breadcrumbs {
  background-color: #fff;
  margin-top: 25px;
  font-size: 12px;
}

.breadcrumbs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.breadcrumbs__item::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  background-image: url(../img/home.svg);
  left: 0;
  top: -3px;
}

.breadcrumbs__link {
  position: relative;
}

.breadcrumbs__link:nth-last-child(1)::before {
  display: none;
}

.breadcrumbs__link::before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1px;
  background-color: #2B323C;
  opacity: 0.2;
  -webkit-transform: rotate(-25.77deg);
          transform: rotate(-25.77deg);
  right: -20px;
}

.breadcrumbs__link.breadcrumbs__index {
  margin-left: 36px;
  color: #2B323C;
}

.footer {
  position: relative;
  background-color: #2B323C;
}

.footer__inner {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.footer__menu {
  position: absolute;
  background-color: #fff;
  top: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 10px;
  z-index: 3;
}

.footer__menu::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 250px;
  left: -250px;
  top: 0;
  background-color: #fff;
}

.footer__menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  position: relative;
}

.footer__menu-up {
  padding: 14px 27px;
  background-color: #BF9D77;
  margin-right: -2px;
}

.footer__menu-up:hover {
  background-color: #983031;
}

.footer__menu-link {
  position: relative;
}

.footer__menu-link::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 0;
  left: 50%;
  background-color: #983031;
  bottom: 0;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.footer__menu-link:hover .footer__menu-p {
  color: #983031;
}

.footer__menu-link:hover .footer__menu-txt {
  color: #983031;
}

.footer__menu-link:hover::before {
  width: 100%;
  left: 0;
}

.footer__menu-link:nth-last-child(2) p::before {
  display: none;
}

.footer__menu-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  position: relative;
}

.footer__menu-p::before {
  position: absolute;
  content: "";
  height: 6px;
  width: 6px;
  background-color: #2B323C;
  border-radius: 50%;
  opacity: 0.2;
  right: -3vw;
  top: 8px;
}

.footer__menu-txt {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
}

.footer__logo {
  background-color: #F9F9F9;
  padding: 100px 50px 95px 10px;
  position: relative;
  z-index: 2;
}

.footer__logo::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background-color: #F9F9F9;
  top: 0;
  left: -330px;
  z-index: 1;
}

.footer__logo-box {
  margin-bottom: 65px;
}

.footer__logo-desc p {
  width: 275px;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
}

.footer__logo .footer__info-sanction {
  color: #2B323C;
  display: none;
}

.footer__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 49px;
  height: 49px;
  background-color: #983031;
  display: none;
}

.footer__info {
  background-color: #2B323C;
  padding: 120px 0px 95px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 9vw;
          column-gap: 9vw;
}

.footer__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info-contact {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  margin-bottom: 68px;
}

.footer__info-tel {
  color: #fff;
  font-weight: 900;
  font-size: 35px;
  line-height: 130%;
}

.footer__info-tel:hover {
  color: #983031;
}

.footer__info-mail {
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  position: relative;
  margin-left: 20px;
}

.footer__info-mail::after {
  position: absolute;
  content: url(../img/mail.svg);
  left: -17px;
  bottom: -1px;
}

.footer__info-mail:hover {
  color: #983031;
}

.footer__info-schedule {
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  position: relative;
  margin-left: 20px;
}

.footer__info-schedule::after {
  position: absolute;
  content: url(../img/time.svg);
  left: -17px;
  bottom: -1px;
}

.footer__info-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.footer__info-social a {
  height: 25px;
  width: 25px;
  background-color: #fff;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__info-social a:hover {
  background-color: #983031;
}

.footer__info-title, .footer__info-subtitle, .footer__info-sanction, .footer__info-copyright {
  width: 275px;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: #BF9D77;
}

.footer__info-title {
  margin-top: 10px;
}

.footer__info-sanction {
  color: #fff;
}

.footer__info-copyright {
  color: #fff;
  opacity: 0.3;
}

.mobile {
  position: absolute;
  top: -1000px;
  width: 100%;
  background-color: #fff;
  z-index: 10;
  opacity: 0.95;
  -webkit-transition: top 0.4s ease 0s;
  transition: top 0.4s ease 0s;
}

.mobile.mobile-active {
  top: 0;
}

.mobile__container {
  padding: 0 40px;
  margin-bottom: 40px;
}

.mobile__close {
  display: block;
  text-align: right;
  position: absolute;
  top: 18px;
  right: 42px;
  font-size: 20px;
  font-weight: bold;
}

.mobile__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile__menu-link {
  border-bottom: #BF9D77 1px solid;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile__menu-link:last-child {
  border-bottom: none;
}

.mobile__menu-p {
  font-size: 16px;
  line-height: 150%;
}

.mobile__menu-p:hover {
  color: #BF9D77;
}

.mobile__menu-txt {
  font-size: 10px;
}

.mobile__menu-txt:hover {
  color: #BF9D77;
}

.mobile__menu-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile__info {
  background-color: #F9F9F9;
  font-size: 12px;
  border-radius: 0 0 5% 5%;
  height: 45vw;
}

.mobile__info-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
  position: relative;
  margin-bottom: 40px;
  padding-top: 40px;
}

.mobile__info-contact a, .mobile__info-contact p {
  font-size: 14px;
  text-decoration: none;
  color: #2B323C;
}

.mobile__info-contact a:hover, .mobile__info-contact p:hover {
  color: #BF9D77;
}

.mobile__info-contact_phone {
  margin-left: 20px;
}

.mobile__info-contact_phone:after {
  position: absolute;
  left: 0;
  content: url(../img/phone.svg);
}

.mobile__info-contact_adress {
  margin-left: 20px;
}

.mobile__info-contact_adress::after {
  position: absolute;
  left: 0;
  content: url(../img/map.svg);
}

.mobile__info-contact_mail {
  margin-left: 20px;
}

.mobile__info-contact_mail::after {
  position: absolute;
  left: 0;
  content: url(../img/mail.svg);
}

.mobile__info-contact_schedule {
  margin-left: 20px;
}

.mobile__info-contact_schedule::after {
  position: absolute;
  left: 0;
  content: url(../img/time.svg);
}

.mobile__info-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.mobile__info-social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 42px;
  width: 42px;
  background-color: #BF9D77;
}

.mobile__info-social a:hover {
  background-color: #2B323C;
}

.mobile__info-social a img {
  width: 50%;
}

.mobile__info-social a.photo {
  width: 16vw;
  padding: 0 5px;
}

.mobile__info-social a.photo img {
  width: 15%;
  margin-right: 5px;
}

.mobile__info-social_photo p {
  font-size: 12px;
  color: #fff;
  margin-left: 2px;
}

.mobile__info-social_language {
  position: relative;
}

.mobile__info-social_language::after {
  position: absolute;
  content: url(../img/language-icon.svg);
  top: 15px;
  right: 0;
}

.mobile__info-social_language li a {
  color: #fff;
}

.mobile__info-social_language-var {
  display: none;
}

.mobile__info-social_language-var.active {
  display: block;
}

@media (max-width: 1210px) {
  .footer__menu {
    width: 99%;
  }
}

@media (max-width: 1170px) {
  .header__rate-box:nth-last-child(1) {
    display: none;
  }
  .header__menu-descrition_block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .menu {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__menu {
    width: 98%;
  }
  .footer__info {
    -webkit-column-gap: 6vw;
            column-gap: 6vw;
    padding: 120px 0px 95px 10px;
  }
}

@media (max-width: 1080px) {
  .header__rate-box:nth-last-child(2) {
    display: none;
  }
  .footer__logo {
    padding: 100px 48px 95px 10px;
  }
  .footer__info {
    -webkit-column-gap: 1vw;
            column-gap: 1vw;
  }
}

@media (max-width: 1000px) {
  .header__rate-box:nth-last-child(3) {
    display: none;
  }
  .footer__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__info {
    padding: 100px 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 75px;
  }
  .footer__info-title {
    margin-top: 47px;
    margin-bottom: 20px;
  }
  .footer__info-item .footer__info-sanction {
    display: none;
  }
  .footer__info-subtitle {
    margin-bottom: 20px;
  }
  .footer__logo {
    padding: 80px 0 0 0;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__logo::after {
    display: none;
  }
  .footer__logo-box {
    margin-bottom: 30px;
  }
  .footer__logo-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    row-gap: 125px;
  }
  .footer__logo-desc .footer__info-sanction {
    display: block;
    opacity: 0.4;
  }
}

@media (max-width: 900px) {
  .header__rate-box:nth-last-child(4) {
    display: none;
  }
  .header__menu-desc_prod {
    font-size: 12px;
    margin-right: 10px;
  }
  .header__menu-desc_prod::before {
    right: -10px;
  }
  .header__menu-desc_adress {
    margin-left: 10px;
  }
  .header__menu-link_photo {
    width: 24px;
  }
  .header__menu-link_photo p {
    display: none;
  }
  .header__menu-link_photo img {
    width: 13px;
    margin-right: 0;
  }
  .header__contact {
    padding: 16px 20px;
  }
  .header__contact-phone {
    display: block;
  }
  .header__contact-phone::after {
    position: absolute;
    content: url(../img/phone.svg);
    left: -17px;
    bottom: -2px;
  }
  .header__about-list {
    -webkit-column-gap: 0.5vw;
            column-gap: 0.5vw;
  }
  .header__about-phone {
    display: none;
  }
  .footer__menu-p::before {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 24px;
  }
  .header__menu-descrition_block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__menu-desc_adress {
    text-transform: none;
  }
  .header__menu-nav {
    display: none;
  }
  .header__contact {
    background-color: #fff;
  }
  .header__about {
    display: none;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__menu {
    display: none;
  }
  .footer__logo {
    padding: 75px 0 0 0;
  }
  .footer__logo .logo__title {
    font-size: 18px;
  }
  .footer__logo-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 49px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__logo .logo__img {
    height: 100%;
  }
  .footer__logo .logo__img img {
    height: 100%;
  }
  .footer__logo-desc {
    letter-spacing: 0.05em;
    row-gap: 140px;
  }
  .footer__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  .footer__info {
    padding: 75px 0 0 0;
  }
  .footer__info-tel {
    text-align: center;
  }
}

@media (max-width: 680px) {
  .header__rate-box:nth-last-child(5) {
    display: none;
  }
  .header__menu-desc_prod::before {
    display: none;
  }
  .header__menu-desc_adress {
    display: none;
  }
  .header__contact {
    display: none;
  }
  .header__phone-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logo {
    width: 100%;
    padding: 40px 0 0 0;
  }
  .footer__logo .logo__title {
    font-weight: 900;
    font-size: 29px;
    line-height: 130%;
    width: 40vw;
  }
  .footer__logo-box {
    height: 100%;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__logo-desc {
    margin-bottom: 50px;
  }
  .footer__logo-desc .footer__info-sanction {
    display: none;
  }
  .footer__info {
    width: 100%;
  }
  .footer__info-tel {
    text-align: left;
  }
  .footer__info-item {
    width: 280px;
  }
  .footer__info-item .footer__info-sanction {
    display: block;
    margin-bottom: 30px;
  }
  .footer__burger {
    display: none;
  }
}

@media (max-width: 480px) {
  .header__rate-box:nth-last-child(6) {
    display: none;
  }
  .header__menu-link {
    display: none;
  }
  .header__menu-top_block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__logo .logo__title {
    width: 50vw;
  }
  .footer__info {
    padding: 50px 0;
    margin-bottom: 0;
  }
  .footer__info-item {
    width: 285px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__info-contact {
    width: 285px;
  }
  .footer__info-tel {
    font-size: 33px;
  }
  .footer__info-schedule::after {
    top: 0;
  }
}

@media (max-width: 415px) {
  .container {
    padding: 0 20px;
  }
  .logo__img img {
    width: 41px;
    height: 46px;
  }
  .header__menu-descrition_block .logo__title {
    font-size: 16px;
    margin-right: 18px;
    width: 110px;
  }
  .footer__logo-box .logo__title {
    width: 65vw;
  }
}

@media (max-width: 320px) {
  .header__rate {
    display: none;
  }
  .header__menu-descrition_block {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .header__menu-desc_prod {
    font-size: 11px;
    width: 280px;
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */