main {
  height: 100%;
}

.breadcrumbs {
  margin-bottom: 30px;
}

.breadcrumbs__link:nth-last-child(2) {
  opacity: 1;
}

.product-card {
  margin-bottom: 50px;
}

.product-card__header {
  margin-bottom: 50px;
}

.product-card__header_title {
  text-transform: uppercase;
}

.product-card__header_subtitle {
  color: #BF9D77;
  font-size: 24px;
  font-weight: 900;
}

.product-card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.product-card__descrition_text {
  margin-bottom: 40px;
}

.product__contacts {
  width: 80%;
  padding: 30px;
  border: 4px solid #BF9D77;
}

.product__contacts_dept {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.product__contacts-box {
  width: 100%;
  border-top: 1px solid rgba(191, 157, 119, 0.3);
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__contacts-box_rank {
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 4px;
}

.product__contacts-box_unit {
  font-size: 12px;
  margin-bottom: 10px;
}

.product__contacts-box a {
  margin-bottom: 10px;
  position: relative;
  margin-left: 20px;
}

.product__contacts-box_tel {
  font-size: 12px;
  color: #2B323C;
}

.product__contacts-box_tel::after {
  position: absolute;
  top: 0;
  left: -20px;
  height: 12px;
  width: 12px;
  content: "";
  background-image: url(../manufacture/product/img/phone.svg);
}

.product__contacts-box_mail {
  font-size: 12px;
}

.product__contacts-box_mail::after {
  position: absolute;
  top: 0;
  left: -20px;
  height: 12px;
  width: 12px;
  content: "";
  background-image: url(../manufacture/product/img/mail.svg);
}

.product-gallery {
  margin-bottom: 40px;
}

.product-gallery__item {
  margin-bottom: 20px;
  border: 1px solid rgba(191, 157, 119, 0.3);
  padding: 10px;
}

.product-gallery__img {
  margin-bottom: 50px;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.product-gallery__img img {
  width: 100%;
}

.product-slider {
  margin-bottom: 30px;
  overflow: hidden;
}

.product-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.product-slider__nav {
  position: relative;
}

.product-slider__nav .slick-arrow {
  position: relative;
  font-size: 0;
  border: none;
  background-color: #BF9D77;
  height: 40px;
  width: 40px;
}

.product-slider__nav .slick-arrow:hover {
  background-color: rgba(43, 50, 60, 0.2);
}

.product-slider__nav .slick-prev {
  position: absolute;
  top: -16px;
  left: 30px;
  cursor: pointer;
}

.product-slider__nav .slick-prev::after {
  content: url(../manufacture/product/img/arrow-left_white.svg);
  position: absolute;
  top: 12px;
  left: 12px;
}

.product-slider__nav .slick-prev:hover::after {
  content: url(../manufacture/product/img/arrow-left_black.svg);
}

.product-slider__nav .slick-next {
  position: absolute;
  top: -16px;
  right: 30px;
  cursor: pointer;
}

.product-slider__nav .slick-next::after {
  content: url(../manufacture/product/img/arrow-right_white.svg);
  position: absolute;
  top: 12px;
  right: 12px;
}

.product-slider__nav .slick-next:hover::after {
  content: url(../manufacture/product/img/arrow-rifht_black.svg);
}

.product-other {
  margin-bottom: 100px;
}

.product-other h1 {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.quote {
  padding: 30px;
  border: 4px solid rgba(191, 157, 119, 0.3);
  font-style: italic;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 40px;
  position: relative;
}

.quote::before {
  position: absolute;
  content: url(../manufacture/product/img/quote.svg);
  top: -12px;
  left: 50px;
}

.slider-product {
  padding: 70px 0 100px;
  background-color: #F9F9F9;
  position: relative;
  margin-bottom: 100px;
}

.slider-product::before {
  content: "";
  position: absolute;
  left: -90px;
  height: 100%;
  width: 10%;
  background-color: #fff;
  top: 0;
}

.slider-product h1 {
  margin-bottom: 30px;
}

.slider-other {
  overflow: hidden;
}

.slider-other .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.slider-other__item {
  position: relative;
  margin-bottom: 30px;
}

.slider-other__inner::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(43, 50, 60, 0.3);
  -webkit-transition: background-color, 0.3s ease 0s;
  transition: background-color, 0.3s ease 0s;
}

.slider-other__inner:hover::after {
  background-color: rgba(152, 48, 49, 0.8);
}

.slider-other__photo img {
  width: 100%;
  display: block;
}

.slider-other__info {
  position: absolute;
  padding: 30px;
  z-index: 2;
  content: "";
  top: 0;
  left: 0;
}

.slider-other__title {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  line-height: 1.5;
  padding-bottom: 20px;
  position: relative;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.slider-other__title::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 1px;
  width: 55px;
  background-color: #BF9D77;
}

.slider-other__subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 1.5;
  margin-top: 20px;
  min-height: 48px;
}

.slider-other__nav {
  position: relative;
}

.slider-other__nav .slick-arrow {
  position: relative;
  font-size: 0;
  border: none;
  background-color: #BF9D77;
  height: 40px;
  width: 40px;
}

.slider-other__nav .slick-arrow:hover {
  background-color: rgba(43, 50, 60, 0.2);
}

.slider-other__nav .slick-prev {
  position: absolute;
  top: -16px;
  left: 30px;
  cursor: pointer;
}

.slider-other__nav .slick-prev::after {
  content: url(../manufacture/product/img/arrow-left_white.svg);
  position: absolute;
  top: 12px;
  left: 12px;
}

.slider-other__nav .slick-prev:hover::after {
  content: url(../manufacture/product/img/arrow-left_black.svg);
}

.slider-other__nav .slick-next {
  position: absolute;
  top: -16px;
  right: 30px;
  cursor: pointer;
}

.slider-other__nav .slick-next::after {
  content: url(../manufacture/product/img/arrow-right_white.svg);
  position: absolute;
  top: 12px;
  right: 12px;
}

.slider-other__nav .slick-next:hover::after {
  content: url(../manufacture/product/img/arrow-rifht_black.svg);
}

.progress {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(43, 50, 60, 0.2);
  background-image: -webkit-gradient(linear, left top, right top, from(#BF9D77), to(#BF9D77));
  background-image: linear-gradient(to right, #BF9D77, #BF9D77);
  background-repeat: no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size .4s ease-in-out;
  transition: background-size .4s ease-in-out;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width: 1300px) {
  .slider-product::before {
    display: none;
  }
}

@media (max-width: 1170px) {
  .product__contacts {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1000px) {
  .product__contacts {
    width: 92.5%;
  }
  .product__contacts-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product__contacts-data {
    margin-right: 13%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 50px;
            column-gap: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product-card__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product-card__descrition {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
  .product-card__header {
    margin-bottom: 30px;
  }
  .product-card__header_title {
    text-transform: none;
  }
  .product__contacts {
    width: 90%;
  }
  .product-slider__nav .slick-prev {
    left: 0;
  }
  .product-slider__nav .slick-next {
    right: 15px;
  }
  .slider-other__nav .slick-prev {
    left: 0;
  }
  .slider-other__nav .slick-next {
    right: 10px;
  }
}

@media (max-width: 768px) {
  .product__contacts {
    width: 89%;
  }
  .product__contacts-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product__contacts-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 680px) {
  .product-card {
    margin-bottom: 20px;
  }
  .product-card__header {
    margin-bottom: 20px;
  }
  .product-card__descrition {
    margin-bottom: 20px;
  }
  .product-card__descrition_text {
    margin-bottom: 20px;
  }
  .product__contacts {
    width: 83%;
  }
  .quote {
    margin-bottom: 20px;
  }
  .slider-product {
    padding: 50px 0 70px;
    margin-bottom: 50px;
  }
  .product-other {
    margin-bottom: 50px;
  }
  .product-slider__nav .slick-arrow {
    height: 30px;
    width: 30px;
  }
  .product-slider__nav .slick-next {
    right: 0;
  }
  .product-slider__nav .slick-next::after {
    top: 7px;
    left: 7px;
  }
  .product-slider__nav .slick-prev::after {
    top: 7px;
    left: 7px;
  }
  .slider-other__nav .slick-arrow {
    height: 30px;
    width: 30px;
  }
  .slider-other__nav .slick-next {
    right: 0;
  }
  .slider-other__nav .slick-next::after {
    top: 7px;
    left: 7px;
  }
  .slider-other__nav .slick-prev::after {
    top: 7px;
    left: 7px;
  }
}

@media (max-width: 480px) {
  .breadcrumbs__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .breadcrumbs__link {
    margin-bottom: 15px;
  }
  .slider-product {
    padding: 30px 0 50px;
    margin-bottom: 30px;
  }
  .product-other {
    margin-bottom: 30px;
  }
  .slider-other__info {
    padding: 30px;
  }
}

@media (max-width: 415px) {
  h1 {
    text-transform: none;
  }
  .product-card__descrition_text {
    font-size: 14px;
  }
  .quote {
    font-size: 14px;
    padding: 15px;
  }
  .quote::before {
    left: 15px;
  }
  .product-card__descrition_dop {
    font-size: 13px;
  }
  .product__contacts {
    width: 75%;
  }
  .product-other h1 {
    text-transform: none;
  }
  .slider-other__info {
    padding: 30px;
  }
  .progress {
    width: 75%;
  }
}
/*# sourceMappingURL=product.css.map */