main {
  height: 100%;
}

.breadcrumbs {
  margin-bottom: 100px;
}

h1 {
  text-transform: uppercase;
}

.supply {
  margin-bottom: 100px;
}

.supply__title {
  margin-bottom: 50px;
  position: relative;
}

.supply__title::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 80%;
  background-color: #BF9D77;
  top: 0;
  left: -20px;
}

.supply-descripton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  margin-bottom: 50px;
}

.supply-descripton__item p {
  margin-bottom: 30px;
}

.supply-descripton__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.supply-product li {
  position: relative;
  margin-left: 30px;
  margin-bottom: 20px;
}

.supply-product li::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 0;
  left: -30px;
  border: 3px solid #983031;
  border-radius: 50%;
}

.supply-license {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.supply-license img {
  width: 14vw;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.supply__warning {
  position: relative;
}

.supply__warning::after {
  position: absolute;
  content: url(../img/warning.svg);
  left: 0;
  top: 3px;
}

.supply__warning-text {
  margin-left: 25px;
  color: #983031;
}

.supply-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.supply-contact__item {
  border: 3px solid rgba(191, 157, 119, 0.3);
  padding: 30px;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.supply-contact__item a {
  color: #2B323C;
  line-height: 130%;
  margin-bottom: 10px;
}

.supply-contact__item a:hover {
  color: #983031;
}

.supply-contact__item a span {
  font-weight: 700;
}

.supply-contact__post {
  position: relative;
}

.supply-contact__post h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
}

.supply-contact__post::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #BF9D77;
  bottom: 20px;
  opacity: 0.3;
}

.supply-user {
  margin-bottom: 10px;
  margin-left: 25px;
  position: relative;
}

.supply-user::after {
  position: absolute;
  content: url(../img/user-icon.svg);
  left: -25px;
  top: 2px;
}

.supply-phone {
  margin-bottom: 10px;
  margin-left: 25px;
  position: relative;
}

.supply-phone::after {
  position: absolute;
  content: "";
  height: 25px;
  width: 18px;
  background-image: url(../img/phone.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  left: -25px;
  top: 0;
}

.supply-mail {
  margin-bottom: 10px;
  margin-left: 25px;
  position: relative;
}

.supply-mail::after {
  position: absolute;
  content: "";
  height: 25px;
  width: 18px;
  background-image: url(../img/mail.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  left: -25px;
  top: 0;
}

.procurement {
  background-color: #F9F9F9;
  padding: 100px 0 100px;
  position: relative;
}

.procurement::after {
  position: absolute;
  content: "";
  height: 100%;
  left: -50px;
  top: 0;
  width: 10vw;
  background-color: #fff;
}

.procurement-title {
  margin-bottom: 50px;
  position: relative;
}

.procurement-title::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 80%;
  background-color: #BF9D77;
  top: 0;
  left: -20px;
}

.procurement-title h2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 150%;
  color: #983031;
}

.procurement-title h2 span {
  color: #BF9D77;
}

.procurement__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.procurement__inner {
  width: 50%;
}

.procurement__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 20px;
  background-color: #fff;
  margin-bottom: 30px;
}

.procurement__price-header {
  margin-bottom: 40px;
  position: relative;
}

.procurement__price-header::after {
  content: "";
  position: absolute;
  bottom: -20px;
  height: 1px;
  width: 100%;
  background-color: rgba(191, 157, 119, 0.3);
}

.procurement__price-title {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
}

.procurement__price-subtitle {
  font-weight: 400;
  opacity: 0.4;
  line-height: 1.5;
}

.procurement__price tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.procurement__price tr td {
  margin-bottom: 20px;
}

.procurement__price-product {
  position: relative;
  margin-left: 30px;
}

.procurement__price-product::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 0;
  left: -30px;
  border: 2px solid #983031;
  border-radius: 50%;
}

.procurement__price-sale {
  opacity: 0.4;
}

@media (max-width: 1500px) {
  .procurement::after {
    left: -90px;
  }
}

@media (max-width: 1500px) {
  .procurement::after {
    display: none;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 28px;
  }
  h3 {
    font-size: 16px;
  }
  .supply__title {
    margin-bottom: 20px;
  }
  .supply-descripton {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .supply-descripton__inner {
    padding-right: 50px;
  }
  .supply-license {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .supply-license-img img {
    width: 27vw;
  }
  .supply-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
  .supply-contact__item {
    width: 90%;
  }
  .procurement-title h2 {
    font-size: 16px;
  }
  .procurement__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .procurement__inner {
    width: 100%;
  }
}

@media (max-width: 680px) {
  .supply-contact__item {
    width: 88%;
  }
  .supply-license {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .supply-descripton__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-right: 0;
  }
  .procurement__price {
    padding: 20px 20px;
  }
  .procurement__price-title {
    font-size: 16px;
  }
  .procurement__price-title::after {
    content: "";
    width: 16px;
    height: 16px;
    background: url(../img/arrow-down.svg) center no-repeat;
    position: absolute;
    top: 20px;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    cursor: pointer;
  }
  .procurement__price-header.active .procurement__price-title::after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .procurement__price-header.active .procurement__price-title {
    color: #983031;
  }
  .procurement__price-subtitle {
    display: none;
  }
  .procurement__price-sale {
    margin-left: 30px;
    font-size: 12px;
  }
  .procurement__price tbody {
    display: none;
  }
  .procurement__price tbody tr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 12px;
  }
  .procurement__price tr td {
    margin-bottom: 12px;
  }
}

@media (max-width: 480px) {
  h1 {
    text-transform: none;
    font-size: 24px;
  }
  li {
    font-size: 14px;
  }
  .breadcrumbs {
    margin-bottom: 30px;
  }
  .supply {
    margin-bottom: 30px;
  }
  .supply-license {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .supply-license img {
    width: 35vw;
  }
  .supply-contact__item {
    width: 80%;
  }
  .procurement {
    padding: 30px 0 50px;
  }
  .procurement-title {
    margin-bottom: 30px;
  }
  .procurement-title h1 {
    margin-bottom: 10px;
  }
}

@media (max-width: 415px) {
  .supply__title::after {
    display: none;
  }
  .supply-license-img img {
    width: 40vw;
  }
  .supply-contact__item a span {
    margin-right: 200px;
  }
  .procurement {
    padding: 30px 0 30px;
  }
  .procurement-title::after {
    display: none;
  }
  .procurement__price-title::after {
    top: 15px;
  }
}
/*# sourceMappingURL=snab.css.map */