$primary-color: #2B323C;
$second-color: #BF9D77;
$accent_bg: linear-gradient(360deg, rgba(152, 48, 49, 0.9) 29.13%, rgba(152, 48, 49, 0.9) 98.03%);
$accent-color: #983031;
$bg_accent: #F9F9F9;
$second_opasity:rgba(191, 157, 119, 0.3);

main {
  height: 100%;
}
h1 {
  text-transform: uppercase;
}
h2 {
  text-transform: uppercase;
}
h4 {
  line-height: 150%;
  font-size: 24px;
  font-weight: 900;
}
.breadcrumbs {
  margin-bottom: 50px;
}
.laboratory {
  margin-bottom: 100px;
  &-header {
    display: flex;
    column-gap: 50px;
    margin-bottom: 100px;
    justify-content: space-between;
  }
  &-about {
    width: 56%;
    &__title {
      margin-bottom: 30px;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 80%;
        background-color: $second-color;
        top: 0;
        left: -50px;
      }
    }
    &__description {
      max-width: 550px;
    }
  }
  &-services {
    padding: 50px 40px;
    border: 4px solid $second-color;
    position: relative;
    width: 30%;
    &::after {
      position: absolute;
      content: url(../img/arrow-strong.svg);
      top: 40%;
      left: -4px;
    }
    &.delivery::after {
      top: 60%;
    }
    &__head {
      margin-bottom: 10px;
      border-bottom: 1px solid $second_opasity;
      padding-bottom: 10px;
    }
    &__title{
      font-size: 24px;
      font-weight: 900;
      margin-bottom: 20px;
    }
    &__link-lab {
      color: $accent-color;
      margin-bottom: 10px;
      &:hover {
        color: $second-color;
      }
    }
    &__link-delivery {
      color: $second-color;
      &:hover {
        color: $accent-color;
      }
    }
  }
  &-contact {
    padding: 30px;
    border: 4px solid $second_opasity;
    &__post {
      position: relative;
      margin-bottom: 40px;
      &::before {
        position: absolute;
        content: "";
        height: 1px;
        width: 100%;
        background-color: $second_opasity;
        bottom: -20px;
        left: 0;
      }
      & p {
        font-size: 20px;
        font-weight: 700;
        line-height: 150%;
      }
    }
    &__item {
      display: flex;
      column-gap: 100px;
      align-items: center;
    }
    &__user {
      position: relative;
      margin-left: 30px;
      line-height: 150%;
      &::after {
        position: absolute;
        content: url(../img/user-icon.svg);
        top: 2px;
        left: -30px;
      }
    }
    &__phone {
      position: relative;
      margin-left: 30px;
      color: $primary-color;
      &::after {
        position: absolute;
        content: "";
        height: 25px;
        width: 18px;
        background-image: url(../img/phone.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        left: -30px;
        top: -2px;
      }
      & span {
        font-weight: 700;
      }
    }
    &__mail {
      position: relative;
      margin-left: 30px;
      color: $primary-color;
      &::after {
        position: absolute;
        content: "";
        height: 25px;
        width: 18px;
        background-image: url(../img/mail.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        left: -30px;
        top: -2px;
      }
      & span {
        font-weight: 700;
      }
    }
  }
  &-offer {
    background-color: $bg_accent;
    padding: 100px 0;
  }
  &-device {
    &__header {
      margin-bottom: 40px;
      
      & h1 {
        margin-bottom: 50px;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          width: 1px;
          height: 80%;
          background-color: $second-color;
          top: 10px;
          left: -40px;
        }
      }
    }
    &__item {
      padding: 30px;
      background-color: #fff;
      &.last {
        margin-top: -85px;
        & .laboratory-table__inner{
          position: relative;
          &::before {
            position: absolute;
            width: 100%;
            height: 1px;
            content: "";
            background-color: $second_opasity;
            bottom: -20px;
          }
        }
      }
    }
    &__block {
      display: flex;
      justify-content: space-between;
      column-gap: 30px;
      margin-bottom: 40px;
      & .laboratory-device__item {
        width: 50%;
      }
    }
  }
  &-table {
    &__header {
      position: relative;
      margin-bottom: 40px;
      &::before {
        position: absolute;
        content: "";
        height: 1px;
        width: 100%;
        background-color: $second_opasity;
        bottom: -20px;
      }
      & h4 {
        max-width: 420px;
        & span {
          height: 16px;
          color: #fff;
        }
      } 
    }
    &__device {
      margin-bottom: 10px;
      margin-left: 30px;
      position: relative;
      width: 300px;
      &::after {
        position: absolute;
        content: "";
        border: 1px solid $accent-color;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        top: 5px;
        left: -30px;
      }
      &_title {
        font-weight: 700;
        margin-bottom: 10px;
      }
    }
    &__inner {
      display: flex;
      column-gap: 50px;
      justify-content: space-between;
    }
    &__warning {
      margin-top: 40px;
      & p {
        color: $accent-color;
        margin-left: 30px;
        position: relative;
        &::before {
          position: absolute;
          content: url(../img/warning.svg);
          top: 2px;
          left: -30px;
        }
      }
    }
  }
  &-slider {
    margin-bottom: 100px;
    overflow: hidden;
    padding: 50px;
    & .slick-track {
      display: flex;
      column-gap: 30px;
    }
    &__item {
      overflow: hidden;
      margin-bottom: 50px;
    }
    &__nav {
      position: relative;
      & .slick-arrow {
        position: relative;
        font-size: 0;
        border: none;
        background-color: $second-color;
        height: 40px;
        width: 40px;
        &:hover {
          background-color: rgba(43, 50, 60, 0.2);
        }
      }
      & .slick-prev {
        position: absolute;
        top: -16px;
        left: 30px;
        cursor: pointer;
        &::after {
          content: url(../manufacture/product/img/arrow-left_white.svg);
          position: absolute;
          top: 12px;
          left: 12px;
        }
        &:hover::after {
          content: url(../manufacture/product/img/arrow-left_black.svg);
        }
      }
      & .slick-next {
        position: absolute;
        top: -16px;
        right: 30px;
        cursor: pointer;
        &::after {
          content: url(../manufacture/product/img/arrow-right_white.svg);
          position: absolute;
          top: 12px;
          right: 12px;
        }
        &:hover::after {
          content: url(../manufacture/product/img/arrow-rifht_black.svg);
        }
      }
    }
  }
  &-offer {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      height: 100%;
      width: 8%;
      right: 0;
      top: 0;
      background-color: #fff;
    }
  }
  &-sertificat {
    padding: 100px 0;
    position: relative;
    background-color: $bg_accent;
    &::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 7%;
      left: 0;
      top: 0;
      background-color: #fff;
    }
    &__title {
      margin-bottom: 30px;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        height: 80%;
        width: 1px;
        background-color: $second-color;
        left: -40px;
        top: 0;
        z-index: 1;
      }
    }
    &__block {
      display: flex;
      justify-content: space-between;
      padding: 30px 0 30px;
      border-top: 1px solid $second-color;
    }
    &__inner {
      display: flex;
      column-gap: 20px;
      justify-content: flex-start;
    }
    &__before {
      opacity: 0.4;
    }
    &__link {
      font-size: 16px;
      line-height: 150%;
      color: $second-color;
    }
  }
}
.progress {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  overflow: hidden;
  
  background-color: rgba(43, 50, 60, 0.2);
  background-image: linear-gradient(to right, $second-color, $second-color);
  background-repeat: no-repeat;
  background-size: 0 100%;
  
  transition: background-size .4s ease-in-out;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
@media (max-width: 1500px) {
  .laboratory-offer::before {
    width: 4%;
  }
  .laboratory-sertificat::after {
    width: 4%;
  }
}
@media (max-width: 1355px) {
  .laboratory-offer::before {
    width: 2%;
  }
  .laboratory-sertificat::after {
    width: 2%;
  }
}
@media (max-width: 1300px) {
  .laboratory-offer::before {
    display: none;
  }
  .laboratory-device__header h1::after {
    display: none;
  }
  .laboratory-sertificat__title::after {
    display: none;
  }
  .laboratory-sertificat::after {
    display: none;
  }
}
@media (max-width: 1170px) {
  .laboratory {
    &-table {
      &__inner {
      flex-wrap: wrap;
      }
    }
    &-sertificat {
      &__inner {
        flex-direction: column;
      }
    }
  }
}
@media (max-width: 900px) {
  .laboratory {
    margin-bottom: 50px;
    &-header {
      margin-bottom: 50px;
    }
    &-contact {
      &__item {
        flex-direction: column;
        align-items: flex-start;
      }
      &__user {
        margin-bottom: 10px;
      }
      &__phone, &__mail {
        margin-bottom: 10px;
        line-height: 150%;
      }
    }
    &-device {
      &__block {
        flex-wrap: wrap;
        row-gap: 30px;
        & .laboratory-device__item {
          width: 100%;
        }
      }
    }
    &-offer {
      padding: 50px 0;
    }
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
  .laboratory {
    &-header {
      flex-direction: column;
      margin-bottom: 40px;
    }
    &-about {
      width: 100%;
      &__title {
        margin-bottom: 20px;
      }
      &__description {
        margin-bottom: 20px;
      }
    }
    &-services {
      width: auto;
      padding: 40px 50px;
      &::after {
        top: 50%;
      }
    }
    &-device__item.last {
      & .laboratory-table__inner .laboratory-table__block:last-child {
        margin-top: 30px;
      }
      & .laboratory-table__inner::before {
        bottom: -40px;
      }
    }
    &-table__warning {
      margin-top: 60px;
    }
    &-slider {
      margin-bottom: 50px;
      &__nav {
        & .slick-prev {
          left: 0;
        }
        & .slick-next {
          right: 0;
        }
      }
    }  
  }
  
}
