$primary-color: #2B323C;
$second-color: #BF9D77;
$accent_bg: linear-gradient(360deg, rgba(152, 48, 49, 0.9) 29.13%, rgba(152, 48, 49, 0.9) 98.03%);
$accent-color: #983031;
$bg_accent: #F9F9F9;

main {
  height: 100%;
}
.breadcrumbs {
  margin-bottom: 30px;
  &__link:nth-last-child(2) {
    opacity: 1;
  }
}
.product {
  &-card {
    margin-bottom: 50px;
    &__header {
      margin-bottom: 50px;
      &_subtitle {
        color: $second-color;
        font-size: 24px;
        font-weight: 900;
      }
    }
    &__item {
      display: flex;
      column-gap: 50px;
    }
    &__descrition {
      &_text {
        margin-bottom: 40px;
      }
    }
  }
  &__contacts{
    width: 80%;
    padding: 30px;
    border: 4px solid $second-color;
    &_dept {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    &-box {
      width: 100%;
      border-top: 1px solid rgba(191, 157, 119, 0.3);
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      &_rank {
        font-weight: 700;
        font-size: 12px;
        margin-bottom: 4px;
      }
      &_unit {
        font-size: 12px;
        margin-bottom: 10px;
      }
      & a {
        margin-bottom: 10px;
        position: relative;
        margin-left: 20px;
      }
      &_tel {
        font-size: 12px;
        color: $primary-color;
        &::after {
          position: absolute;
          top: 0;
          left: -20px;
          height: 12px;
          width: 12px;
          content: "";
          background-image: url(../manufacture/product/img/phone.svg);
        }
      }
      &_mail {
        font-size: 12px;
        &::after {
          position: absolute;
          top: 0;
          left: -20px;
          height: 12px;
          width: 12px;
          content: "";
          background-image: url(../manufacture/product/img/mail.svg);
        }
      }
    }
  }
  &-gallery {
    margin-bottom: 40px;
    &__item {
      margin-bottom: 20px;
      border: 1px solid rgba(191, 157, 119, 0.3);
      padding: 10px;
    }
    &__img {
      margin-bottom: 50px;
      cursor: zoom-in;
      & img {
        width: 100%;
      }
    } 
  }
  &-slider {
    margin-bottom: 30px;
    overflow: hidden;
    & .slick-track {
      display: flex;
      column-gap: 30px;
    }
    &__nav {
      margin-bottom: 100px;
      position: relative;
      & .slick-arrow {
        position: relative;
        font-size: 0;
        border: none;
        background-color: $second-color;
        height: 40px;
        width: 40px;
        &:hover {
          background-color: rgba(43, 50, 60, 0.2);
        }
      }
      & .slick-prev {
        position: absolute;
        top: -16px;
        left: 30px;
        cursor: pointer;
        &::after {
          content: url(../manufacture/product/img/arrow-left_white.svg);
          position: absolute;
          top: 12px;
          left: 12px;
        }
        &:hover::after {
          content: url(../manufacture/product/img/arrow-left_black.svg);
        }
      }
      & .slick-next {
        position: absolute;
        top: -16px;
        right: 30px;
        cursor: pointer;
        &::after {
          content: url(../manufacture/product/img/arrow-right_white.svg);
          position: absolute;
          top: 12px;
          right: 12px;
        }
        &:hover::after {
          content: url(../manufacture/product/img/arrow-rifht_black.svg);
        }
      }
    }
  }
  
}
.quote {
  padding: 30px;
  border: 4px solid rgba(191, 157, 119, 0.3);
  font-style: italic;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 40px;

}
.slider-product {
  padding: 100px 0;
  background-color: $bg_accent;
}
.progress {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  overflow: hidden;
  
  background-color: rgba(43, 50, 60, 0.2);
  background-image: linear-gradient(to right, $second-color, $second-color);
  background-repeat: no-repeat;
  background-size: 0 100%;
  
  transition: background-size .4s ease-in-out;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}