$primary-color: #2B323C;
$second-color: #BF9D77;
$accent_bg: linear-gradient(360deg, rgba(152, 48, 49, 0.9) 29.13%, rgba(152, 48, 49, 0.9) 98.03%);
$accent-color: #983031;
$bg_accent: #F9F9F9;
$second_opasity:rgba(191, 157, 119, 0.3);
main {
  height: 100%;
}
.breadcrumbs {
  margin-bottom: 100px;
}
h1 {
  text-transform: uppercase;
}
.supply {
  margin-bottom: 100px;
  &__title {
    margin-bottom: 50px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 80%;
      background-color: $second-color;
      top: 0;
      left: -20px;
    }
  }
  &-descripton {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    margin-bottom: 50px;
    &__item {
      & p {
        margin-bottom: 30px;
      }
    }
    &__inner {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }
  }
  &-product {
    & li {
    position: relative;
    margin-left: 30px;
    margin-bottom: 20px;
    &::after {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      top: 0;
      left: -30px;
      border: 3px solid #983031;
      border-radius: 50%;
      }
    }
  }
  &-license {
    display: flex;
    & img {
      width: 14vw;
      cursor: zoom-in;
    }
  }
  &__warning {
    position: relative;
    &::after {
      position: absolute;
      content: url(../img/warning.svg);
      left: 0;
      top: 3px;
    }
    &-text {
      margin-left: 25px;
      color: #983031;
    }
  }
  &-contact {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    &__item {
      border: 3px solid $second_opasity;
      padding: 30px;
      width: 45%;
      display: flex;
      flex-direction: column;
      & a {
        color: #2B323C;
        line-height: 130%;
        margin-bottom: 10px;
        &:hover {
          color: #983031;
        }
        & span {
          font-weight: 700;
        }
      }
    }
    &__post {
      position: relative;
      & h2 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 40px;
      }
      &::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #BF9D77;
        bottom: 20px;
        opacity: 0.3;
      }
    }
  }
  &-user {
    margin-bottom: 10px;
    margin-left: 25px;
    position: relative;
    &::after {
      position: absolute;
      content: url(../img/user-icon.svg);
      left: -25px;
      top: 2px;
    }
  }
  &-phone {
    margin-bottom: 10px;
    margin-left: 25px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      height: 25px;
      width: 18px;
      background-image: url(../img/phone.svg);
      background-size: 100%;
      background-repeat: no-repeat;
      left: -25px;
      top: 0;
    }
  }
  &-mail {
    margin-bottom: 10px;
    margin-left: 25px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      height: 25px;
      width: 18px;
      background-image: url(../img/mail.svg);
      background-size: 100%;
      background-repeat: no-repeat;
      left: -25px;
      top: 0;
    }
  }
}
.procurement {
  background-color: $bg_accent;
  padding: 100px 0 100px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    height: 100%;
    left: -50px;
    top: 0;
    width: 10vw;
    background-color: #fff;
  }
  &-title {
    margin-bottom: 50px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 80%;
      background-color: #BF9D77;
      top: 0;
      left: -20px;
    }
    & h2 {
      font-weight: 900;
      font-size: 24px;
      line-height: 150%;
      color: #983031;
      & span {
        color: #BF9D77;
      }
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
  }
  &__inner {
    width: 50%;
  }
  &__price {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    background-color: #fff;
    margin-bottom: 30px;
    &-header {
      margin-bottom: 40px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -20px;
        height: 1px;
        width: 100%;
        background-color: $second_opasity;
      }
    }
    &-title {
      font-size: 24px;
      font-weight: 900;
      line-height: 1.5;
    }
    &-subtitle {
      font-weight: 400;
      opacity: 0.4;
      line-height: 1.5;
    }
    & tr {
      display: flex;
      justify-content: space-between;
      column-gap: 30px;
      align-items: flex-end;
      & td {
        margin-bottom: 20px;
      }
    }
    &-product {
      position: relative;
      margin-left: 30px;
      
      &::after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        top: 0;
        left: -30px;
        border: 2px solid #983031;
        border-radius: 50%;
      }
    }
    &-sale {
      opacity: 0.4;
    }

  }





  
}
@media (max-width: 1500px) {
  .procurement::after {
    left: -90px;
  }
}
@media (max-width: 1500px) {
  .procurement::after {
    display: none;
  }
}
@media (max-width: 900px) {
  h1 {
    font-size: 28px;
  }
  h3 {
    font-size: 16px;
  }
  .supply { 
    &__title {
      margin-bottom: 20px;
    }
    &-descripton {
      flex-direction: column;
      &__inner {
        padding-right: 50px;
      }
    }
    &-license {
      justify-content: space-around;
      &-img img {
        width: 27vw;
      }
    }
    &-contact {
      flex-direction: column;
      row-gap: 30px;
      &__item {
        width: 90%;
      }
    }
  }
  .procurement {
    &-title {
      & h2 {
        font-size: 16px;
      }
    }
    &__item {
      flex-direction: column;
    }
    &__inner {
      width: 100%;
    }
  }
}
@media (max-width: 680px) {
  .supply-contact__item {
    width: 88%;
  }
  .supply-license {
    justify-content: space-between;
  }
  .supply-descripton__inner {
    flex-wrap: wrap;
    padding-right: 0;
  }
  .procurement {
    &__price {
      padding: 20px 20px;
      &-title {
        font-size: 16px;
        &::after {
          content: "";
          width: 16px;
          height: 16px;
          background: url(../img/arrow-down.svg) center no-repeat;
          position: absolute;
          top: 20px;
          right: 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          z-index: 1;
          -webkit-transition: all .3s linear;
          -o-transition: all .3s linear;
          transition: all .3s linear;
          cursor: pointer;
        } 
      }
      &-header.active {
        & .procurement__price-title::after {
          transform: rotate(180deg); 
        }
        & .procurement__price-title {
          color: $accent-color;
        }
      }
      &-subtitle {
        display: none;
      }
      &-sale {
        margin-left: 30px;
        font-size: 12px;
      }
      & tbody {
        display: none;
        & tr {
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 12px;
        }
      }
      & tr td {
        margin-bottom: 12px;
      }
      
    }
  }
  
}
@media (max-width: 480px) {
  h1 {
    text-transform: none;
    font-size: 24px;
  }
  li {
    font-size: 14px;
  }
  .breadcrumbs {
    margin-bottom: 30px;
  }
  .supply {
    margin-bottom: 30px;
  }
  .supply-license {
    flex-wrap: wrap;
    justify-content: space-around;
    & img {
      width: 35vw;
    }
  }
  .supply-contact__item {
    width: 80%;
  }
  .procurement {
    padding: 30px 0 50px;
    &-title {
      margin-bottom: 30px;
      & h1 {
        margin-bottom: 10px;
      }
    }
  }
}
@media (max-width: 415px) {
  .supply__title::after {
    display: none;
  }
  .supply-license-img img {
    width: 40vw;
  }
  .supply-contact__item {
    padding: 20px;
  }
  .supply-contact__item a span {
    margin-right: 150px;
  }
  .procurement {
    padding: 30px 0 30px;
}
  .procurement-title::after {
    display: none;
  }
  .procurement__price-title::after {
    top: 15px;
  }
  
}