<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>НПО Феникс || производство цветных металлов и сплавов</title>
  <link rel="shortcut icon" type="image/png" href="../img/favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
  <link href="../css/normalize.css" rel="stylesheet">
  <link href="../css/reset.css" rel="stylesheet">
  <link href="../template/style.css" rel="stylesheet">
</head>
<body>
  <header class="header">    
    <div class="header__rate">
      <div class="container">
        <div class="header__rate-inner">
          <div class="header__rate-data">
            25.04.2022
          </div>
          <div class="header__rate-box">
            <span class="header__rate-uom">$:</span>
            <span class="header__rate-course">73.5050</span>  
            <span class="header__rate-unit">₽</span>
            <span class="header__rate-precent">0%</span>
            <div class="header__rate-img">
              <img src="../img/rate-up.svg" alt="up">
            </div>          
          </div>
          <div class="header__rate-box">
            <span class="header__rate-uom">€:</span>
            <span class="header__rate-course">80.0249</span>
            <span class="header__rate-unit"> ₽</span>
            <span class="header__rate-precent">0%</span>
            <div class="header__rate-img">
              <img src="../img/rate-down.svg" alt="down">
            </div>         
          </div>
          <div class="header__rate-box">
            <span class="header__rate-uom">LME: Zn:</span>
            <span class="header__rate-course">4515</span>
            <span class="header__rate-unit">$/t</span>
            <span class="header__rate-precent">0.67%</span>
            <div class="header__rate-img">
              <img src="../img/rate-up.svg" alt="up">
            </div>         
          </div>
          <div class="header__rate-box">
            <span class="header__rate-uom">Pb:</span>
            <span class="header__rate-course">2400</span>
            <span class="header__rate-unit">$/t </span>
            <span class="header__rate-precent">-0.58%</span>
            <div class="header__rate-img">
              <img src="../img/rate-down.svg" alt="down">
            </div>         
          </div>
          <div class="header__rate-box">
            <span class="header__rate-uom">Sn:</span>
            <span class="header__rate-course">42200</span>
            <span class="header__rate-unit">$/t</span>
            <span class="header__rate-precent">-2.48%</span>
            <div class="header__rate-img">
              <img src="../img/rate-down.svg" alt="down">
            </div>         
          </div>
          <div class="header__rate-box">
            <span class="header__rate-uom">Cu:</span>
            <span class="header__rate-course">10230.5</span>
            <span class="header__rate-unit">$/t</span>
            <span class="header__rate-precent">-0.37%</span>
            <div class="header__rate-img">
              <img src="../img/rate-down.svg" alt="down">
            </div>          
          </div>
          <div class="header__rate-box">
            <span class="header__rate-uom">Al:</span>
            <span class="header__rate-course">3244</span>
            <span class="header__rate-unit">$/t</span>
            <span class="header__rate-precent">-0.55%</span>
            <div class="header__rate-img">
              <img src="../img/rate-down.svg" alt="down">
            </div>         
          </div>
          <div class="header__rate-box">
            <span class="header__rate-uom">Ag:</span>
            <span class="header__rate-course">24.23</span>
            <span class="header__rate-unit">$/ozt.</span>
            <span class="header__rate-precent">0%</span>
            <div class="header__rate-img">
              <img src="../img/rate-up.svg" alt="up">
            </div>          
          </div>
        </div>
      </div>
    </div>
    <div class="header__menu">
      <div class="header__menu-top"> 
        <div class="container">
          <div class="header__menu-top_block">             
            <div class="header__menu-desc">
                <p class="header__menu-desc_prod">производство цветных металлов и сплавов</p>
                <a class="header__menu-desc_adress">Санкт-Петербург, пос. металлострой</a>
            </div>
            <div class="header__menu-link">
                <a class="header__menu-link_photo" href="#">
                  <img src="../img/icon-photo.svg" alt="ico-photo">
                  <p>Фото продукции</p>
                </a>
                <a class="header__menu-link_vk" href="#">
                  <img src="../img/icon-vk.svg" alt="vk">
                </a>
                <a class="header__menu-link_rusprf" href="#">
                  <img  src="../img/icon-rusprf.svg" alt="rusprf">
                </a>
                <ul class="header__menu-link_language">
                  <li>
                    <a href="#">RU</a>
                  </li>
                  <ul class="header__menu-link_language-var">
                    <li>
                      <a href="#">RU</a>
                    </li>
                    <li>
                      <a href="#">EN</a>
                    </li>
                  </ul> 
                </ul>
            </div>
          </div>        
        </div>
      </div>
      <div class="header__menu-descrition">
        <div class="container">
          <div class="header__menu-descrition_block">           
            <div class="logo">
                <a class="logo__img" href="#"> 
                  <img src="../img/logo.svg" alt="logo">
                </a>
                <a class="logo__title" href="#">НПО Феникс</a>
            </div>
            <div class="header__contact">
              <a class="header__contact-phone" href="tel:+8123390340">8 (812) 339-03-40</a>
              <a class="header__contact-mail" href="mailto:info@npo-fenix.ru">info@npo-fenix.ru</a>
              <p class="header__contact-schedule">График работы: пн-пт 08:00 - 16:45 (офис)</p>
            </div>
            <div class="header__about">
                <nav class="header__about-list">
                  <a class="header__about-link" href="#">Вакансии</a>
                  <a class="header__about-link" href="#">О нас</a>
                  <a class="header__about-link" href="#">Контакты</a>
                </nav>
                <a class="header__about-phone" href="tel:+8123390340">8 (812) 339-03-40</a>
            </div>
            <div class="header__mobile-btn">
              <a class="header__phone-btn" href="tel:+8123390340">
                <img src="../img/phone-btn.svg" alt="phone-btn">
              </a>
              <div class="header__burger burger">
                <img src="../img/burger.svg" alt="burger">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header__menu-nav">
        <div class="container">       
          <nav class="menu">
            <div class="menu__link" href="#">
              <a class="menu__p" href="#">Производство</a>
              <a class="menu__txt" href="#">продукция</a>
            </div>
            <div class="menu__link" >
              <a class="menu__p" href="#">Купим</a>
            </div>
            <div class="menu__link" >
              <a class="menu__p" href="#">Лаборатория</a>
              <a class="menu__txt" href="#">платные услуги</a>
            </div>
            <div class="menu__link">
              <a class="menu__p" href="#">Доставка</a>
            </div>
            <div class="menu__link">
              <a class="menu__p" href="#">Фото</a>
            </div>
          </nav>        
        </div>
      </div> 
    </div>
    </div>
    <div class="mobile">
      <div class="mobile__container">
        <a class="mobile__close">X</a>     
        <nav class="mobile__menu">       
          <ul class="mobile__menu-item">
            <li class="mobile__menu-link">
              <a class="mobile__menu-p" href="#">Производство</a>
              <a class="mobile__menu-txt" href="#">продукция</a>
            </li>
            <li class="mobile__menu-link">
              <a class="mobile__menu-p" href="#">Купим</a>              
            </li>
            <li class="mobile__menu-link">
              <a class="mobile__menu-p" href="#">Лаборатория</a>
              <a class="mobile__menu-txt" href="#">платные услуги</a>
            </li>
            <li class="mobile__menu-link">
              <a class="mobile__menu-p" href="#">Фото продукции</a>
            </li>
            <li class="mobile__menu-link">
              <a class="mobile__menu-p" href="#">Вакансии</a>
            </li>
            <li class="mobile__menu-link">
              <a class="mobile__menu-p" href="#">О Нас</a>
            </li>
            <li class="mobile__menu-link">
              <a class="mobile__menu-p" href="#">Контакты</a>
            </li>           
          </ul>               
        </nav>
      </div>
      <div class="mobile__info">
        <div class="mobile__container">
          <div class="mobile__info-contact">
            <a class="mobile__info-contact_phone" href="tel:+8123390340">8 (812) 339-03-40</a>
            <a class="mobile__info-contact_adress" href="#">Cанкт-Петербург, пос. металлострой</a>
            <a class="mobile__info-contact_mail" href="mailto:info@npo-fenix.ru">info@npo-fenix.ru</a>
            <p class="mobile__info-contact_schedule">График работы: пн-пт 08:00 - 16:45 (офис)</p>
          </div>
          <div class="mobile__info-social">
            <a class="mobile__info-social_photo photo" href="#">
              <img src="../img/icon-photo.svg" alt="ico-photo">
              <p>Фото продукции</p>
            </a>
            <a class="mobile__info-social_vk" href="#">
              <img src="../img/icon-vk.svg" alt="vk">
            </a>
            <a class="mobile__info-social_rusprf" href="#">
              <img  src="../img/icon-rusprf.svg" alt="rusprf">
            </a>
            <ul class="mobile__info-social_language">
              <li>
                <a>RU</a>
              </li>
              <ul class="mobile__info-social_language-var">
                <li>
                  <a href="#">RU</a>
                </li>
                <li>
                  <a href="#">EN</a>
                </li>
              </ul> 
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="breadcrumbs">
    <div class="container">
      <div class="breadcrumbs__item">
        <a class="breadcrumbs__link breadcrumbs__index" href="index.html">Главная</a>
      </div>
    </div>
  </div>
  <main>  
  </main>
  <footer class="footer">
    <div class="footer__inner">
      <div class="footer__menu">
        <nav class="footer__menu-wrapper">
          <a class="footer__menu-link" href="#">
            <p class="footer__menu-p">Производство</p>
            <p class="footer__menu-txt">продукция</p>
          </a>
          <a class="footer__menu-link" href="#">
            <p class="footer__menu-p">Купим</p>              
          </a>
          <a class="footer__menu-link" href="#">
            <p class="footer__menu-p">Лаборатория</p>
            <p class="footer__menu-txt">платные услуги</p>
          </a>
          <a class="footer__menu-link" href="#">
            <p class="footer__menu-p">Блог</p>
          </a>
          <a class="footer__menu-link" href="#">
            <p class="footer__menu-p">Вакансии</p>
          </a>
          <a class="footer__menu-link" href="#">
            <p class="footer__menu-p">О Нас</p>
          </a>
          <a class="footer__menu-link" href="#">
            <p class="footer__menu-p">Контакты</p>
          </a> 
          <a class="footer__menu-up" href="#">
            <img src="../img/arrow_up.svg" alt="arrow-up">
          </a>          
        </nav>               
      </div>
      <div class="footer__logo">
        <div class="footer__logo-box">
          <div class="logo" href="#">
            <a class="logo__img" href="#">
              <img src="../img/logo.svg" alt="logo">
            </a>
            <a class="logo__title" href="#">НПО Феникс</a>
          </div>
          <div class="footer__burger burger">
            <img src="../img/burger.svg" alt="burger">
          </div>
        </div>
        <div class="footer__logo-desc">
          <p>Вся продукция ООО «НПО «Феникс» проходит строжайший контроль сертифицированной лабораторией и соответствует требованиям ГОСТа и других стандартов качества.
          </p>
          <p class="footer__info-sanction">Любое использование материалов с сайта запрещено без письменного разрешения администрации сайта.</p>
        </div>
      </div>
      <div class="footer__info">
        <div class="footer__info-item">
          <div class="footer__info-contact">
            <a class="footer__info-tel" href="tel:+78123390340">8 (812) 339-03-40</a>
            <a class="footer__info-mail" href="mailto:">info@npo-fenix.ru</a>
            <p class="footer__info-schedule">График работы: пн-пт 08:00 - 16:45 (офис)</p>
          </div>
          <div class="footer__info-social">
            <a class="" href="#">
              <img src="../img/icon-photo_b.svg" alt="ico-photo">
            </a>
            <a class="" href="#">
              <img src="../img/icon-vk_b.svg" alt="icon-vk">
            </a>
            <a class="" href="#">
              <img src="../img/icon-rusprf_b.svg" alt="rusprf">
            </a>
          </div>
        </div>
        <div class="footer__info-item">
          <a class="footer__info-title">Политика конфиденциальности</a>
          <a class="footer__info-subtitle">Реквизиты</a>
          <p class="footer__info-sanction">Любое использование материалов с сайта запрещено без письменного разрешения администрации сайта.</p>
          <p class="footer__info-copyright">Copyrights © 2022. Все права защищены</p>
        </div>
      </div>    
    </div>
  </footer> 
  <script src="../js/main.js"></script>
</body>
</html>